<template>
  <div class="space-y-2">
    <div class="flex items-center justify-between">
      <slot name="label" />

      <div class="flex space-x-2">
        <AppButton xsmall secondary @click="emit('delete')">
          <AppIcon name="trash-02" class="-m-px -mt-0.5 text-text-sm" />
        </AppButton>
        <AppButton xsmall secondary @click="emit('move-down')">
          <AppIcon name="arrow-down" class="-m-px -mt-0.5 text-text-sm" />
        </AppButton>
        <AppButton xsmall secondary @click="emit('move-up')">
          <AppIcon name="arrow-up" class="-m-px -mt-0.5 text-text-sm" />
        </AppButton>
      </div>
    </div>

    <slot />
  </div>
</template>

<script lang="ts" setup>
const emit = defineEmits<{
  (event: 'delete'): void;
  (event: 'move-up'): void;
  (event: 'move-down'): void;
}>();
</script>
