<template>
  <div class="space-y-10 rounded-md bg-white p-9">
    <AppSteps :steps="steps" v-model="step" class="bg-white" />

    <AppForm v-slot="{ values, valid }" :schema="schemaCreate" v-if="step.number === 0">
      <TextField name="name" class="mt-3">
        <template #label> Название<AppRequired /> </template>
      </TextField>

      <AppButton with-icon :disabled="!valid" @click="onCreate(values)" class="mx-auto mt-10 block w-2/3">
        <AppLoader rotating v-if="loading" class="right-5" strokeColor="#000" size="25" />
        <span v-else>Сохранить</span>
      </AppButton>
    </AppForm>
    <div v-else>
      <span v-if="!getCourse.team_settings?.members_amount_max" class="body-bold block text-font-black">
        {{ `В команде должно быть минимум ${getCourse.team_settings?.members_amount_min ?? 2} человек(-а)` }}
      </span>
      <span
        v-else-if="getCourse.team_settings?.members_amount_min !== getCourse.team_settings?.members_amount_max"
        class="body-bold block text-font-black"
      >
        {{
          `В команде должно быть от ${getCourse.team_settings?.members_amount_min} до ${getCourse.team_settings?.members_amount_max} человек(-а)`
        }}
      </span>
      <span v-else class="body-bold block text-font-black">
        {{ `В команде должно быть ${getCourse.team_settings?.members_amount_min} человек(-а)` }}
      </span>

      <AppButton with-icon @click="onInvite" class="mr-6 mt-5 w-1/2">
        <AppLoader rotating v-if="loading" class="right-5" strokeColor="#000" size="25" />
        <span v-else>Получить ссылку-приглашение</span>
      </AppButton>

      <AppButton secondary @click="emits('close')" class="ml-auto w-[calc(50%-24px)]"> Пока пропустить </AppButton>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ITeamEdit } from '@/store/teams/types';
import { string, AnySchema, object } from 'yup';
import { Step } from '@/components/controls/types';
import { ref } from 'vue';
import useTeamStore from '@/store/teams';
import { useAppToast } from '@/components/toast/useAppToast';
import { storeToRefs } from 'pinia';
import useCourseStore from '@/store/courses';

const toast = useAppToast();

const teamStore = useTeamStore();
const { createTeam, getMemberLink } = teamStore;

const courseStore = useCourseStore();
const { getCourse } = storeToRefs(courseStore);

const emits = defineEmits<{
  (event: 'close'): void;
}>();

const steps: Step[] = [
  {
    number: 0,
    name: 'Придумайте название команде',
  },
  {
    number: 1,
    name: 'Добавьте участников',
  },
];

const step = ref<Step>(steps[0]);
const loading = ref(false);

const onCreate = async (values: ITeamEdit) => {
  loading.value = true;
  await createTeam(values);

  step.value = steps[1];
  toast.success('Вы создали команду');

  loading.value = false;
};

const onInvite = async () => {
  loading.value = true;
  const token = await getMemberLink();
  loading.value = false;

  const encodeToken = encodeURIComponent(token);
  const link = `${window.location.href}/team/invite/?token=${encodeToken}`;

  await navigator.clipboard.writeText(link);
  toast.success('Ссылка скопирована в буфер обмена');

  emits('close');
};

const schemaCreate: AnySchema = object().shape({
  name: string().nullable().required(),
});
</script>
