<template>
  <AppForm
    :model-value="team"
    v-slot="{ values, valid }"
    :schema="schemaUpdate"
    class="font-on-color"
    style="width: 400px"
  >
    <TextField name="name">
      <template #label> Название<AppRequired /> </template>
    </TextField>

    <AppButton with-icon small :disabled="!valid" @click="onUpdate(values)" class="mx-auto mt-10 block w-2/3">
      <AppLoader rotating v-if="loading" class="right-5" strokeColor="#000" size="25" />
      <span v-else>Сохранить</span>
    </AppButton>
  </AppForm>
</template>

<script setup lang="ts">
import { ITeamEdit } from '@/store/teams/types';
import { string, AnySchema, object } from 'yup';
import { ref } from 'vue';
import useTeamStore from '@/store/teams';
import { useAppToast } from '@/components/toast/useAppToast';

defineProps<{ team: ITeamEdit }>();

const toast = useAppToast();

const teamStore = useTeamStore();
const { updateTeam } = teamStore;

const emits = defineEmits<{
  (event: 'close'): void;
}>();

const loading = ref(false);

const onUpdate = async (values: ITeamEdit) => {
  loading.value = true;

  await updateTeam(values);
  toast.success('Вы обновили команду');
  emits('close');

  loading.value = false;
};

const schemaUpdate: AnySchema = object().shape({
  name: string().nullable().required(),
});
</script>
