<template>
  <div>
    <AppFileInput
      ref="fileInput"
      v-model="file"
      :disabled="disabled"
      :accept="accept"
      :placeholder="placeholder"
      :light="light"
      :image-permissions="imagePermissions"
      :image-error="imageError"
      @update:model-value="onFileChange"
    >
      <template #label>
        <slot name="label" />
      </template>
      <template #placeholder>
        <slot name="placeholder" />
      </template>
    </AppFileInput>

    <div class="body-bold mb-2 text-center text-dark-blue-3">{{ t('or') }}</div>

    <AppInput
      v-model="url"
      v-bind="$attrs"
      :disabled="disabled"
      :loading="loading"
      :placeholder="t('link')"
      :light="light"
    >
      <template #errors>
        <slot name="errors" />
      </template>
    </AppInput>
  </div>
</template>

<script lang="ts" setup>
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import AppFileInput from './AppFileInput.vue';
import { FileService, ALL_FORMATS, SingletonFileManager, ImagePermissions, FORMATS } from '@/core/services/Files';

const { t } = useI18n();

interface InputProps {
  modelValue?: string | null;
  placeholder?: string;
  disabled?: boolean;
  accept?: ALL_FORMATS | ALL_FORMATS[];
  imagePermissions?: ImagePermissions;
  imageError?: string;
  light?: boolean;
  isAbsoluteUrl?: boolean;
}

const props = withDefaults(defineProps<InputProps>(), {
  accept: FORMATS.ANY,
  disabled: false,
  isAbsoluteUrl: true,
});

const emit = defineEmits<{
  (event: 'update:modelValue', value: string | null | undefined): void;
}>();

defineOptions({ inheritAttrs: false });

const loading = ref(false);

const fileInput = ref<InstanceType<typeof AppFileInput>>();
const file = ref<FileService | null>();

const setupFile = (newValue: string | null | undefined) => {
  const path = props.isAbsoluteUrl || !newValue ? newValue : SingletonFileManager.getInstance.getCorrectLink(newValue);

  if (file.value?.getFilePath !== path) {
    fileInput.value?.reset();

    if (!path) {
      return;
    }

    try {
      file.value = new FileService({ path });

      if (!file.value.isValidType(props.accept)) {
        file.value = null;
      }
    } catch (error) {
      console.log('error :>> ', error);
    }
  }
};

const url = computed<string | null | undefined>({
  get() {
    return props.modelValue;
  },
  set(newValue: string | null | undefined) {
    setupFile(newValue);

    emit('update:modelValue', newValue);
  },
});

const onFileChange = async () => {
  if (!file.value) {
    emit('update:modelValue', null);
    return;
  }

  loading.value = true;

  try {
    await file.value.saveFile();

    const result = props.isAbsoluteUrl ? file.value.getFilePath : file.value.getFileName;

    emit('update:modelValue', result);
  } catch {
    emit('update:modelValue', null);
    fileInput.value?.reset();
  }

  loading.value = false;
};
</script>
