<template>
  <div>
    <InputWrapper>
      <template #label>
        <slot name="label" />
      </template>
    </InputWrapper>

    <FilePreview class="my-3" v-if="modelValue" :file="modelValue" @delete="reset()" />

    <label
      ref="dropZoneRef"
      :class="[
        'body-bold relative mb-2 flex cursor-pointer items-center justify-center whitespace-pre-line rounded-md border border-dashed border-dark-blue-3 bg-background-secondary text-center text-dark-blue-3',
        { 'bg-white': light, 'border-pink-primary bg-pink-1 text-pink-primary': isOverDropZone },
      ]"
      style="height: 127px"
    >
      <template v-if="placeholderRef">
        {{ placeholderRef }}
      </template>
      <slot v-else name="placeholder">
        <div>
          <AppIcon name="file" style="font-size: 40px" />

          <div class="mt-2.5">
            {{ t('move_file') }} {{ t('or') }} <span class="underline">{{ t('choose_file') }}</span>
          </div>
        </div>
      </slot>

      <input
        ref="input"
        :disabled="disabled"
        :accept="permittedAccept"
        type="file"
        class="app-file-input"
        data-test-id="app-file-input"
        @change="onChange"
      />
    </label>
  </div>
</template>

<script lang="ts" setup>
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useDropZone } from '@vueuse/core';
import InputWrapper from './InputWrapper.vue';
import { ALL_FORMATS, FileService, ImagePermissions, SingletonFileManager, FORMATS } from '@/core/services/Files';
import { useAppToast } from '@/components/toast/useAppToast';
import FilePreview from '@/components/preview/file-preview/FilePreview.vue';

const { t } = useI18n();
const toast = useAppToast();

interface InputProps {
  modelValue: FileService | null;
  placeholder?: string;
  disabled?: boolean;
  accept?: ALL_FORMATS | ALL_FORMATS[];
  imagePermissions?: ImagePermissions;
  imageError?: string;
  light?: boolean;
}

const props = withDefaults(defineProps<InputProps>(), {
  modelValue: null,
  disabled: false,
  accept: FORMATS.ANY,
});

const emit = defineEmits<{
  (event: 'update:model-value', value: FileService | null): void;
}>();

const input = ref<HTMLInputElement>();
const dropZoneRef = ref<HTMLLabelElement>();
const placeholderRef = ref(props.placeholder);

const { isOverDropZone } = useDropZone(dropZoneRef, onDrop);

const permittedAccept = computed<string>(() => SingletonFileManager.getInstance.fromTypeToAcceptString(props.accept));

const emitModelValue = async (file: File) => {
  const fileService = new FileService({ file });

  if (!fileService.isValidType(props.accept)) {
    toast.error(t('components.file.incorrect_format'));
    return;
  }

  if (fileService.getFileType === FORMATS.IMAGE && props.imagePermissions) {
    const isValid = await fileService.isValidImage(props.imagePermissions);

    if (!isValid) {
      const errorText = props.imageError
        ? props.imageError
        : t('components.file.incorrect_image_size', {
            width: props.imagePermissions.width?.value,
            height: props.imagePermissions.height?.value,
          });

      toast.error(errorText);
      return;
    }
  }

  placeholderRef.value = fileService.getFileName;
  emit('update:model-value', fileService);
};

const onChange = (event: Event) => {
  const target = event.target as HTMLInputElement;
  const { files: inputFiles } = target;

  if (inputFiles?.length === 1) {
    emitModelValue(inputFiles[0]);
  }
};

function onDrop(files: File[] | null) {
  if (files?.length === 1) {
    emitModelValue(files[0]);
  }
}

const reset = () => {
  if (input.value) {
    input.value.value = '';
  }

  placeholderRef.value = props.placeholder;
  emit('update:model-value', null);
};

defineExpose({
  reset,
});
</script>

<style lang="scss" scoped>
.app-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: none;
  cursor: pointer;
  z-index: -1;

  &-wrapper {
    height: 127px;
  }
}
</style>
