<template>
  <InputWrapper>
    <template #field>
      <div class="app-input-range flex items-end">
        <AppInput v-model="startRef" v-bind="$attrs" number class="grow" />

        <AppIcon name="arrow-right" class="mx-3 h-14 flex-shrink-0 text-title-2md" />

        <AppInput v-model="stopRef" v-bind="$attrs" number class="grow" />
      </div>
    </template>

    <template v-for="(_, name) in $slots" :key="name" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>
  </InputWrapper>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import InputWrapper from './InputWrapper.vue';

type ModelValue = number | null;

interface Props {
  start?: ModelValue;
  stop?: ModelValue;
}

const props = withDefaults(defineProps<Props>(), {
  start: null,
  stop: null,
});

const emit = defineEmits<{
  (event: 'update:start', value: ModelValue): void;
  (event: 'update:stop', value: ModelValue): void;
}>();

const startRef = computed<ModelValue>({
  get() {
    return props.start;
  },
  set(newValue: ModelValue) {
    emit('update:start', newValue);
  },
});
const stopRef = computed<ModelValue>({
  get() {
    return props.stop;
  },
  set(newValue: ModelValue) {
    emit('update:stop', newValue);
  },
});
</script>

<style lang="scss">
.app-input-range {
  .app-input-wrapper_errors {
    width: calc(200% + 40px);
  }
}
</style>
