<template>
  <label :class="['app-radio-btn', `app-radio-btn--${positionLabel}`]">
    <input
      v-model="value"
      type="radio"
      class="app-radio-btn_input"
      data-test-id="app-radio-btn-input"
      :value="$attrs.value"
      :disabled="Boolean($attrs.disabled)"
      :checked="Boolean($attrs.checked)"
    />
    <span class="app-radio-btn_label" data-test-id="app-radio-btn-slot"><slot /></span>
  </label>
</template>

<script setup lang="ts">
import { computed } from 'vue';

type ModelValue = boolean | undefined | unknown[];

interface Props {
  modelValue?: ModelValue;
  positionLabel?: 'top' | 'bottom' | 'left' | 'right';
}

const props = withDefaults(defineProps<Props>(), {
  positionLabel: 'right',
});

const emit = defineEmits<{
  (event: 'update:modelValue', value: ModelValue): void;
}>();

const value = computed<ModelValue>({
  get() {
    return props.modelValue;
  },
  set(newValue: ModelValue) {
    emit('update:modelValue', newValue);
  },
});
</script>

<style lang="scss" scoped>
.app-radio-btn {
  display: inline-flex;
  cursor: pointer;

  &:has(.app-radio-btn_input[disabled]) {
    opacity: 0.5;
    cursor: no-drop;
  }

  &_input {
    display: inline-flex;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0;
    color: currentColor;
    width: 24px;
    height: 24px;
    border: 2px solid theme('colors.font.tertiary');
    border-radius: 50%;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    cursor: inherit !important;
    transition:
      border 0.3s ease-in-out,
      background-color 0.3s ease-in-out;

    &::before {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    &:checked {
      border-color: var(--primary-color);

      &::before {
        opacity: 1;
        background-color: var(--primary-color);
      }
    }
  }

  &_label {
    &:empty {
      display: none;
    }
  }

  &--right {
    .app-radio-btn_label {
      width: 100%;
      margin-left: 8px;
    }
  }
}
</style>
