<template>
  <div class="flex h-screen w-screen items-center justify-center py-4" style="background: #e0edff">
    <div
      class="mx-auto flex h-2/3 w-full flex-col items-center justify-center gap-4 rounded-lg bg-white p-9 text-center shadow-base"
      style="min-width: 300px; max-width: 500px"
    >
      <span class="large-title-bold flex items-center gap-6">{{ text }} <AppLoader rotating v-if="loading" /></span>
      <AppButton v-if="!loading" router-link="/" with-icon>
        {{ 'На главную' }} <AppIcon name="book-open" class="ml-4" />
      </AppButton>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import useCourseStore from '@/store/courses';
import { useRoute, useRouter } from 'vue-router';
import { COURSE_TOKEN_KEY } from '@/store/courses/types';
import { ApiError } from '@/core/services/Api';
import { useAppToast } from '@/components/toast/useAppToast';

const toast = useAppToast();

const loading = ref<boolean>(false);
const text = ref<string>('Загрузка...');

const route = useRoute();
const router = useRouter();

const courseStore = useCourseStore();
const { inviteUser } = courseStore;

onMounted(async () => {
  loading.value = true;

  const token = decodeURIComponent(route.query.token as string);
  if (!token) {
    router.push({ name: '404' });
    return;
  }

  localStorage.removeItem(COURSE_TOKEN_KEY);

  inviteUser(token)
    .then((course_id) => {
      text.value = 'Открываем курс...';
      router.push({ name: 'course-detail', params: { course_id } });
      toast.success('Вы успешно добавлены в курс');
      toast.warning('Возможно потребуется заполнить данные');
    })
    .catch((error) => {
      if (error instanceof ApiError && error.code === 401) {
        localStorage.setItem(COURSE_TOKEN_KEY, token);
        toast.warning('Прежде чем получить доступ к курсу, необходимо авторизоваться');
      }

      text.value = 'Не удалось получить доступ к курсу :(';
    })
    .finally(() => {
      loading.value = false;
    });
});
</script>
