<template>
  <DetailView :loading="isLoading" @back="onBack" menu class="pb-5">
    <template #default>
      <div class="grid gap-8 rounded-lg bg-dark-blue-1 p-6">
        <div class="w-full">
          <p class="large-title-bold">{{ getCourse.title }}</p>
          <p class="subheadline mt-4">{{ getCourse.description }}</p>
        </div>

        <hr />

        <AppDraggable
          v-model="displayedBlocks"
          class="grid w-full grid-cols-1 gap-6"
          handle="#app-draggable-card"
          v-slot="{ element, isDrag }"
          :disabled="getCourse.role.value === UsersRoles.STUDENT"
          @change="reOrderBlockList"
        >
          <AppCard
            hover
            :draggable="getCourse.role.value !== UsersRoles.STUDENT"
            :dragging="isDrag"
            classes="px-5 py-4 break-words w-full"
            :router-link="{ name: 'block-detail', params: { course_id: getCourse.id, block_id: element.id } }"
          >
            <BlockWrapper
              :editable="getCourse.role.value !== UsersRoles.STUDENT"
              :block="element"
              @update="updateItem"
            />
          </AppCard>
        </AppDraggable>
      </div>
    </template>

    <template #back-title>
      {{ 'Назад' }}
    </template>

    <template #menu>
      <div class="flex w-fit flex-col items-start justify-center gap-6" style="min-width: 250px">
        <p class="title-20-bold text-font-primary">{{ getCourse.role.name }}</p>

        <AppButton
          v-if="getCourse.role.value !== UsersRoles.STUDENT"
          small
          class="subheadline-bold mt-3 w-fit"
          :router-link="{ name: 'block-edit' }"
          with-icon
        >
          <AppIcon name="plus-circle" class="-my-0.5 text-title-2md" />
          <span class="ml-2">{{ 'Создать блок' }}</span>
        </AppButton>
        <AppButton
          v-if="getCourse.role.value === UsersRoles.STUDENT && !getTeam"
          small
          class="subheadline-bold mt-3 w-fit"
          @click="onOpenCreateTeam"
          with-icon
        >
          <AppIcon name="plus-circle" class="-my-0.5 text-title-2md" />
          <span class="ml-2">{{ 'Создать команду' }}</span>
        </AppButton>

        <hr class="h-2 w-full" v-if="getCourse.role.value === UsersRoles.STUDENT && getTeam" />

        <div class="flex flex-col gap-3" v-if="getCourse.role.value === UsersRoles.STUDENT && getTeam">
          <p class="title-20-bold text-primary">{{ getTeam.name }}</p>

          <AppButton :router-link="{ name: 'team-detail' }" small class="subheadline-bold mt-3 w-fit" with-icon stroked>
            <AppIcon name="info" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Информация о команде' }}</span>
          </AppButton>

          <AppButton
            v-if="
              getIsLeader &&
              getTeam &&
              (!getCourse.team_settings?.members_amount_max ||
                getTeam.user_teams.length < getCourse.team_settings?.members_amount_max)
            "
            small
            stroked
            class="w-fit"
            @click="onInviteTeamMember"
            with-icon
            classes="body-bold"
          >
            <AppIcon name="users" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Пригласить участников' }}</span>
          </AppButton>
        </div>

        <hr class="h-2 w-full" v-if="getCourse.role.value !== UsersRoles.STUDENT" />

        <div class="flex flex-col gap-3" v-if="getCourse.role.value !== UsersRoles.STUDENT">
          <p class="subheadline-bold text-font-primary">{{ 'Информация по курсу' }}</p>

          <AppButton
            v-if="getCourse.role?.value === UsersRoles.MAINTAINER"
            small
            stroked
            :router-link="{ name: 'course-edit' }"
            class="subheadline-bold w-fit"
            with-icon
          >
            <AppIcon name="edit-01" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Редактировать' }}</span>
          </AppButton>

          <AppButton
            small
            stroked
            class="subheadline-bold w-fit"
            :router-link="{ name: 'account-blocks-in-course' }"
            with-icon
          >
            <AppIcon name="check-circle" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Ведомость' }}</span>
          </AppButton>

          <AppButton
            v-if="getCourse.role?.value === UsersRoles.MAINTAINER"
            small
            stroked
            class="subheadline-bold w-fit"
            @click="onOpenStatisticsModal"
            with-icon
          >
            <AppIcon name="flag" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Статистика' }}</span>
          </AppButton>
        </div>

        <hr class="h-2 w-full" v-if="getCourse.role.value !== UsersRoles.STUDENT" />

        <div class="flex flex-col gap-3" v-if="getCourse.role.value !== UsersRoles.STUDENT">
          <p class="subheadline-bold text-font-primary">{{ 'Добавить в курс' }}</p>

          <AppButton
            v-if="getCourse.role.value === UsersRoles.MAINTAINER"
            small
            stroked
            class="w-fit"
            @click="addAssistant"
            with-icon
            classes="body-bold"
          >
            <AppIcon name="book-open" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Ассистентов' }}</span>
          </AppButton>

          <AppButton small stroked class="w-fit" @click="addStudent" with-icon classes="body-bold">
            <AppIcon name="users" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Студентов' }}</span>
          </AppButton>
        </div>
      </div>
    </template>
  </DetailView>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useRouter, useRoute } from 'vue-router';
import useCourseStore from '@/store/courses';
import { UsersRoles } from '@/store/courses/types';
import useBlockStore from '@/store/blocks';
import { ref, onMounted } from 'vue';
import DetailView from '@/layouts/views/DetailView.vue';
import { useAppToast } from '@/components/toast/useAppToast';
import useModal from '@/components/modal/useModal';
import BlockWrapper from '@/layouts/courses/BlockWrapper.vue';
import CreateTeam from '@/layouts/teams/CreateTeam.vue';
import { computed } from 'vue';
import StepsModal from '@/layouts/courses/StepsModal.vue';
import { IBlock } from '@/store/blocks/types';
import useTeamStore from '@/store/teams';
import ModalStatistics from '@/layouts/blocks/ModalStatistics.vue';

const stepsModal = useModal({ content: StepsModal });
const createTeam = useModal({ content: CreateTeam });
const modalStatistics = useModal({ content: ModalStatistics });

const router = useRouter();
const route = useRoute();
const toast = useAppToast();

const isLoading = ref(true);

const courseStore = useCourseStore();
const { fetchCourse, getStudentLink, getAssistantLink } = courseStore;
const { getCourse } = storeToRefs(courseStore);

const blockStore = useBlockStore();
const { fetchBlocks, reOrderBlockList } = blockStore;
const { blocks } = storeToRefs(blockStore);

const teamStore = useTeamStore();
const { fetchTeam, getMemberLink } = teamStore;
const { getTeam, getIsLeader } = storeToRefs(teamStore);

const courseID = computed(() => Number(route.params.course_id));

onMounted(async () => {
  isLoading.value = true;

  await fetchCourse(courseID.value);

  if ([UsersRoles.ASSISTANT_REQUEST, UsersRoles.STUDENT_REQUEST].includes(getCourse.value.role.value)) {
    stepsModal.open({ onClose });
    return;
  }

  await onClose();
});

const onBack = () => {
  router.push({ name: 'course-listing' });
};

const onClose = async () => {
  stepsModal.close();

  await Promise.all([fetchBlocks(), fetchTeam()]);

  isLoading.value = false;
};

const updateItem = (block_id: number) => {
  router.push({ name: 'block-edit', params: { course_id: courseID.value, block_id } });
};

const addStudent = async () => {
  const token = await getStudentLink();
  const encodeToken = encodeURIComponent(token);
  const link = `${window.location.origin}/invite/?token=${encodeToken}`;

  await navigator.clipboard.writeText(link);
  toast.success('Ссылка скопирована в буфер обмена');
};

const addAssistant = async () => {
  const token = await getAssistantLink();
  const encodeToken = encodeURIComponent(token);
  const link = `${window.location.origin}/invite/?token=${encodeToken}`;

  await navigator.clipboard.writeText(link);
  toast.success('Ссылка скопирована в буфер обмена');
};

const displayedBlocks = computed<IBlock[]>({
  get() {
    return blocks.value.slice();
  },
  set(newValue) {
    reOrder(newValue);
  },
});

const reOrder = (items: IBlock[]) => {
  const newOrder = items.map(({ order }) => order);
  newOrder.sort((a, b) => b - a);

  items.forEach((block, index) => {
    const valueIndex = blocks.value.findIndex(({ id }) => id === block.id);
    blocks.value[valueIndex].order = newOrder[index];
  });

  blocks.value.sort((a, b) => b.order - a.order);
};

const onCloseCreateTeam = () => {
  createTeam.close();
};

const onOpenCreateTeam = () => {
  createTeam.open({ onClose: onCloseCreateTeam });
};

const onInviteTeamMember = async () => {
  const token = await getMemberLink();

  const encodeToken = encodeURIComponent(token);
  const link = `${window.location.origin}/course/${courseID.value}/team/invite/?token=${encodeToken}`;

  await navigator.clipboard.writeText(link);
  toast.success('Ссылка скопирована в буфер обмена');
};

const onOpenStatisticsModal = () => {
  modalStatistics.open();
};
</script>
