<template>
  <DetailViewWithForm
    v-model="course"
    :schema="schema"
    :loading="isLoading"
    :disableActions="isFetching"
    @back="onBack"
    @save="onSave"
  >
    <div class="mb-9 flex items-center justify-between">
      <span class="large-title-bold">
        {{ getCourse.title }}
      </span>
    </div>

    <AppFieldset>
      <template #legend>
        {{ 'Информация' }}
      </template>

      <TextField name="title" light>
        <template #label> Название<AppRequired /> </template>
      </TextField>

      <HugeTextField name="description" class="my-6" light>
        <template #label> Описание<AppRequired /> </template>
      </HugeTextField>

      <HugeFileField
        name="image"
        light
        :accept="FORMATS.IMAGE"
        :image-permissions="imagePermissions"
        image-error="Соотношение сторон должно быть 2:1"
      >
        <template #label> Изоражение<AppRequired /> </template>

        <template #placeholder>
          <div>
            <AppIcon name="file" style="font-size: 40px" />

            <div class="mt-2.5">
              {{ t('move_file') }} {{ t('or') }} <span class="underline">{{ t('choose_file') }}</span>
            </div>

            <div class="body mt-1">
              {{ 'JPEG, PNG. Соотношение сторон должно быть 2:1' }}
            </div>
          </div>
        </template>
      </HugeFileField>
    </AppFieldset>

    <AppFieldset>
      <template #legend>
        {{ 'Настройки команд' }}
      </template>

      <ArrayField name="team_settings" single :schema="schemaTeam">
        <template #1>
          <RangeField light start-name="members_amount_min" stop-name="members_amount_max">
            <template #label> Ограничение на количество участников в команде (мин -> макс) </template>
          </RangeField>
        </template>
      </ArrayField>
    </AppFieldset>

    <template #back-title>
      <span>{{ 'Назад к курсу' }}</span>
    </template>

    <template #menu> </template>
  </DetailViewWithForm>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useRouter, useRoute } from 'vue-router';
import { ref, computed, onMounted } from 'vue';
import DetailViewWithForm from '@/layouts/views/DetailViewWithForm.vue';
import { useAppToast } from '@/components/toast/useAppToast';
import { string, AnySchema, object, number } from 'yup';
import useCourseStore from '@/store/courses';
import { ICourse, UsersRoles } from '@/store/courses/types';
import { ImagePermissions, FORMATS } from '@/core/services/Files';
import AppFieldset from '@/components/form/AppFieldset.vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

const courseStore = useCourseStore();
const { updateCourse, fetchCourse } = courseStore;
const { getCourse } = storeToRefs(courseStore);

const course = ref({} as ICourse);

const router = useRouter();
const route = useRoute();
const toast = useAppToast();

const isLoading = ref(true);
const isFetching = ref(false);

const courseID = computed(() => Number(route.params.course_id));

onMounted(async () => {
  await fetchCourse(courseID.value);
  course.value = {
    ...getCourse.value,
    team_settings: {
      members_amount_min: 2,
      members_amount_max: null,
      ...getCourse.value.team_settings,
    },
  };

  if (getCourse.value.role.value != UsersRoles.MAINTAINER) {
    router.push({ name: '404' });
    return;
  }

  isLoading.value = false;
});

async function onSave() {
  isFetching.value = true;

  try {
    await updateCourse(course.value.id, course.value);
    toast.success('Курс успешно обновлен');

    onBack();
  } catch (err) {
    console.log(err);
  }

  isFetching.value = false;
}

function onBack() {
  router.push({ name: 'course-detail', params: { course_id: courseID.value } });
}

const imagePermissions: ImagePermissions = {
  ratio: 2,
};

const schema: AnySchema = object().shape({
  title: string().nullable().required(),
  description: string().nullable().required(),
  image: string().image().nullable().required(),
  team_settings: object().required(),
});

const schemaTeam: AnySchema = object().shape({
  members_amount_min: number()
    .nullable()
    .required()
    .min(2, 'Минимум два участника должно быть в команде')
    .when('members_amount_max', (members_amount_max, schema) => {
      return members_amount_max !== null
        ? schema.lessThan(members_amount_max + 1, 'Минимальное количество участников не может превышать максимальное')
        : schema;
    }),
  members_amount_max: number().nullable(),
});
</script>
