<template>
  <div
    class="flex w-screen items-center justify-center"
    v-if="loading"
    style="height: calc(100vh - var(--header-h-lg))"
  >
    <AppLoader rotating />
  </div>
  <div class="px-[48px] pt-4" v-else>
    <div class="w-full space-y-7">
      <div class="flex items-center justify-between">
        <p class="title-22-bold">{{ 'Курсы' }}</p>
      </div>

      <div class="grid w-full grid-cols-1 gap-6 lg:grid-cols-3">
        <AppCard
          v-for="(course, index) in getCourseList"
          :key="index"
          :router-link="{ name: 'course-detail', params: { course_id: course.id } }"
          hover
          classes="px-5 py-4"
        >
          <template #default>
            <div class="flex items-center justify-between">
              <p class="subheadline-bold">{{ course.title }}</p>
            </div>

            <div class="mt-2 flex h-fit flex-col justify-between">
              <img v-if="course.image" :src="course.image" class="h-[160px]" />
              <p class="subheadline mt-2 line-clamp-1">{{ course.description }}</p>
            </div>
          </template>
        </AppCard>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import { storeToRefs } from 'pinia';
import useCourseStore from '@/store/courses';

const courseStore = useCourseStore();
const { fetchCourseList } = courseStore;
const { getCourseList } = storeToRefs(courseStore);

const loading = ref(false);

onMounted(async () => {
  loading.value = true;
  await fetchCourseList();
  loading.value = false;
});
</script>
