/* @font-face {
    font-family: 'Graphik Thin';
    src: url('Graphik-Thin-Web.eot');
src: url('Graphik-Thin-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Thin-Web.woff2') format('woff2'), url('Graphik-Thin-Web.woff') format('woff'), url('Graphik-Thin-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Thin Italic';
    src: url('Graphik-Thin Italic-Web.eot');
src: url('Graphik-Thin Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Thin Italic-Web.woff2') format('woff2'), url('Graphik-Thin Italic-Web.woff') format('woff'), url('Graphik-Thin Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Extralight';
    src: url('Graphik-Extralight-Web.eot');
src: url('Graphik-Extralight-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Extralight-Web.woff2') format('woff2'), url('Graphik-Extralight-Web.woff') format('woff'), url('Graphik-Extralight-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Extralight Italic';
    src: url('Graphik-Extralight Italic-Web.eot');
src: url('Graphik-Extralight Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Extralight Italic-Web.woff2') format('woff2'), url('Graphik-Extralight Italic-Web.woff') format('woff'), url('Graphik-Extralight Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Light';
    src: url('Graphik-Light-Web.eot');
src: url('Graphik-Light-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Light-Web.woff2') format('woff2'), url('Graphik-Light-Web.woff') format('woff'), url('Graphik-Light-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Light Italic';
    src: url('Graphik-Light Italic-Web.eot');
src: url('Graphik-Light Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Light Italic-Web.woff2') format('woff2'), url('Graphik-Light Italic-Web.woff') format('woff'), url('Graphik-Light Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'Graphik Regular';
    src: url('Graphik-Regular-Web.woff2') format('woff2'), url('Graphik-Regular-Web.woff') format('woff'), url('Graphik-Regular-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: 'Graphik Regular Italic';
    src: url('Graphik-Regular Italic-Web.eot');
src: url('Graphik-Regular Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Regular Italic-Web.woff2') format('woff2'), url('Graphik-Regular Italic-Web.woff') format('woff'), url('Graphik-Regular Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'Graphik Medium';
    src: url('Graphik-Medium-Web.woff2') format('woff2'), url('Graphik-Medium-Web.woff') format('woff'), url('Graphik-Medium-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: 'Graphik Medium Italic';
    src: url('Graphik-Medium Italic-Web.eot');
src: url('Graphik-Medium Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Medium Italic-Web.woff2') format('woff2'), url('Graphik-Medium Italic-Web.woff') format('woff'), url('Graphik-Medium Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Semibold';
    src: url('Graphik-Semibold-Web.eot');
src: url('Graphik-Semibold-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Semibold-Web.woff2') format('woff2'), url('Graphik-Semibold-Web.woff') format('woff'), url('Graphik-Semibold-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Semibold Italic';
    src: url('Graphik-Semibold Italic-Web.eot');
src: url('Graphik-Semibold Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Semibold Italic-Web.woff2') format('woff2'), url('Graphik-Semibold Italic-Web.woff') format('woff'), url('Graphik-Semibold Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Bold';
    src: url('Graphik-Bold-Web.eot');
src: url('Graphik-Bold-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Bold-Web.woff2') format('woff2'), url('Graphik-Bold-Web.woff') format('woff'), url('Graphik-Bold-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Bold Italic';
    src: url('Graphik-Bold Italic-Web.eot');
src: url('Graphik-Bold Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Bold Italic-Web.woff2') format('woff2'), url('Graphik-Bold Italic-Web.woff') format('woff'), url('Graphik-Bold Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Black';
    src: url('Graphik-Black-Web.eot');
src: url('Graphik-Black-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Black-Web.woff2') format('woff2'), url('Graphik-Black-Web.woff') format('woff'), url('Graphik-Black-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Black Italic';
    src: url('Graphik-Black Italic-Web.eot');
src: url('Graphik-Black Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Black Italic-Web.woff2') format('woff2'), url('Graphik-Black Italic-Web.woff') format('woff'), url('Graphik-Black Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Super';
    src: url('Graphik-Super-Web.eot');
src: url('Graphik-Super-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Super-Web.woff2') format('woff2'), url('Graphik-Super-Web.woff') format('woff'), url('Graphik-Super-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Super Italic';
    src: url('Graphik-Super Italic-Web.eot');
src: url('Graphik-Super Italic-Web.eot#iefix') format('embedded-opentype'), url('Graphik-Super Italic-Web.woff2') format('woff2'), url('Graphik-Super Italic-Web.woff') format('woff'), url('Graphik-Super Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
} */
    