<template>
  <div
    class="mx-auto flex h-2/3 w-full flex-col items-center justify-center gap-4 rounded-lg bg-white p-9 text-center shadow-base"
    style="min-width: 300px; max-width: 500px"
  >
    <span class="large-title-bold flex items-center gap-6">{{ text }} <AppLoader rotating v-if="loading" /></span>
  </div>
</template>

<script lang="ts" setup>
import { useRoute, useRouter } from 'vue-router';
import useAccountStore from '@/store/account';
import { ref, onMounted } from 'vue';
import { useAppToast } from '@/components/toast/useAppToast';

const toast = useAppToast();

const accountStore = useAccountStore();
const { confirm } = accountStore;

const route = useRoute();
const router = useRouter();

const loading = ref(false);
const text = ref('Загрузка...');

onMounted(async () => {
  loading.value = true;

  const token = route.query.token as string;

  if (!token) {
    router.push({ name: '404' });
    return;
  }

  confirm(token)
    .then(() => {
      router.push('/');
      toast.success('Вы успешно подтвердили аккаунт');
    })
    .catch(() => {
      text.value = 'Не удалось подтвердить аккаунт :(';
    })
    .finally(() => {
      loading.value = false;
    });
});
</script>
