<template>
  <!--begin::Wrapper-->
  <div
    class="mx-auto h-2/3 w-full rounded-lg bg-white p-9 text-center shadow-base"
    style="min-width: 300px; max-width: 500px"
  >
    <!--begin::Form-->
    <AppForm v-slot="{ values, valid }" :schema="login">
      <!--begin::Heading-->
      <div class="mb-10 text-center">
        <!--begin::Title-->
        <h1 class="large-title-bold mb-3">Войти в систему</h1>
        <!--end::Title-->

        <!--begin::Link-->
        <div class="subheadline-bold text-gray-400">
          Еще нет аккаунта?

          <router-link to="/auth/signup" class="text-primary"> Создать </router-link>
        </div>
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <TextField name="email" class="mb-9">
        <template #label> Почта </template>
      </TextField>

      <TextField name="password" class="mb-9" password>
        <template #label> Пароль </template>
      </TextField>

      <AppButton :disabled="!valid" large @click="onSubmitLogin(values)" class="mx-auto w-2/3">Войти</AppButton>
    </AppForm>
    <!--end::Form-->
  </div>
  <!--end::Wrapper-->
</template>

<script lang="ts" setup>
import { IUserCreate } from '@/store/account/types';
import { COURSE_TOKEN_KEY } from '@/store/courses/types';
import { TEAM_TOKEN_KEY, TEAM_COURSE_KEY } from '@/store/teams/types';
import * as yup from 'yup';
import useAccountStore from '@/store/account';
import { useRouter } from 'vue-router';
import { ModalConfirmTypes } from '@/components/modal/types';
import useModalConfirm from '@/components/modal/useModalConfirm';
import { ApiError } from '@/core/services/Api';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

const router = useRouter();
const confirmError = useModalConfirm(`${t('error')}!`, `${t('error_save')}!`, {
  onlyConfirm: true,
  clickToClose: false,
  type: ModalConfirmTypes.ERROR,
});

const accountStore = useAccountStore();
const { logIn, logOut } = accountStore;

const login = yup.object().shape({
  email: yup.string().email('Такой почты не существует').required().nullable(),
  password: yup.string().required().nullable(),
});

const onSubmitLogin = async (values: IUserCreate) => {
  logOut();

  try {
    await logIn(values);

    const course_token = localStorage.getItem(COURSE_TOKEN_KEY);
    if (course_token) {
      const token = encodeURIComponent(course_token);
      router.push(`/invite/?token=${token}`);
      return;
    }

    const team_token = localStorage.getItem(TEAM_TOKEN_KEY);
    const team_course = localStorage.getItem(TEAM_COURSE_KEY);
    if (team_token && team_course) {
      const token = encodeURIComponent(team_token);
      router.push(`/course/${team_course}/team/invite/?token=${token}`);
      return;
    }

    router.push('/');
  } catch (error) {
    if (error instanceof ApiError && error.code === 401) {
      confirmError.open({ title: `${t('error')}!`, subTitle: error.detail });
    }
  }
};
</script>
