<template>
  <!--begin::Wrapper-->
  <div
    class="mx-auto w-full rounded-lg bg-white p-9 text-center shadow-base"
    style="min-width: 300px; max-width: 500px"
  >
    <!--begin::Form-->
    <AppForm v-slot="{ values, valid }" :schema="login" class="text-start">
      <!--begin::Heading-->
      <div class="mb-10 text-center">
        <!--begin::Title-->
        <h1 class="large-title-bold mb-3">Создать аккаунт</h1>
        <!--end::Title-->

        <!--begin::Link-->
        <div class="subheadline-bold text-gray-400">
          Уже есть аккаунт?

          <router-link to="/auth/login" class="text-primary"> Войти </router-link>
        </div>
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <TextField name="email" class="mb-9">
        <template #label> Почта </template>
      </TextField>

      <TextField name="password" class="mb-9" password>
        <template #label> Пароль </template>
      </TextField>

      <TextField name="re_password" class="mb-9" password>
        <template #label> Подтвердите пароль </template>
      </TextField>

      <CheckboxField name="agree" class="subheadline-bold mb-9 mr-auto">
        Я согласен с передачей моих данных сервису
      </CheckboxField>

      <AppButton :disabled="!valid" large @click="onSubmitLogin(values)" class="mx-auto block w-2/3">Создать</AppButton>
    </AppForm>
    <!--end::Form-->
  </div>
  <!--end::Wrapper-->
</template>

<script lang="ts" setup>
import { IUserCreate } from '@/store/account/types';
import * as Yup from 'yup';
import useAccountStore from '@/store/account';
import { ModalConfirmTypes } from '@/components/modal/types';
import useModalConfirm from '@/components/modal/useModalConfirm';
import { useI18n } from 'vue-i18n';
import { COURSE_TOKEN_KEY } from '@/store/courses/types';
import { useRouter } from 'vue-router';
import { ApiError } from '@/core/services/Api';

const router = useRouter();

const { t } = useI18n();

const accountStore = useAccountStore();
const { signUp, logOut } = accountStore;

const login = Yup.object().shape({
  email: Yup.string().required().nullable().email('Такой почты не существует').label('email'),
  password: Yup.string()
    .nullable()
    .min(8, 'Пароль должен состоять не меньше, чем из 8 символов')
    .required()
    .label('password'),
  re_password: Yup.string()
    .required()
    .nullable()
    .oneOf([Yup.ref('password'), null], 'Пароли должны совпадать')
    .label('password confirmation'),
  agree: Yup.boolean().required().isTrue(),
});

const successOptions = {
  type: ModalConfirmTypes.SUCCESS,
  action: 'OK',
};
const [success, successMsg] = [`${t('success')}!`, 'Проверьте почту'];
const confirmModal = useModalConfirm('', '', {
  onlyConfirm: true,
  clickToClose: false,
});

const confirmError = useModalConfirm(`${t('error')}!`, `${t('error_save')}!`, {
  onlyConfirm: true,
  clickToClose: false,
  type: ModalConfirmTypes.ERROR,
});

const onSubmitLogin = async (values: IUserCreate) => {
  logOut();

  try {
    await signUp(values);

    await confirmModal.open({ title: success, subTitle: successMsg, ...successOptions });

    const course_token = localStorage.getItem(COURSE_TOKEN_KEY);
    if (course_token) {
      const token = encodeURIComponent(course_token);
      router.push(`/invite/?token=${token}`);
      return;
    }

    router.push('/');
  } catch (error) {
    if (error instanceof ApiError && error.code === 401) {
      confirmError.open({ title: `${t('error')}!`, subTitle: error.detail });
    }
  }
};
</script>
