<template>
  <div class="font-on-white relative flex w-fit gap-2 rounded-xs bg-white px-3 py-2">
    <component :is="tinyPreviewContent[file.getFileType]" :link="file.getFilePath" />

    <div class="flex flex-col justify-center gap-1">
      <p class="caption-bold text-font-primary">{{ file.getFileName }}</p>
      <p
        v-if="needHugePreview"
        class="caption-sm w-fit cursor-pointer text-dark-blue-primary underline"
        @click="openHugePreview"
      >
        {{ t('preview') }}
      </p>
    </div>

    <div
      class="absolute -right-2 -top-1 flex h-4 w-4 cursor-pointer items-center justify-center rounded-full bg-dark-blue-4 text-white"
      @click="onDelete"
    >
      <AppIcon name="circle" v-if="file.isPending" style="padding: 3px" />
      <AppIcon name="x" v-else />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import type { Component } from 'vue';
import { ALL_FORMATS, FileService, FORMATS } from '@/core/services/Files';
import TinyImagePreview from './tiny-preview/ImagePreview.vue';
import HugeImagePreview from './huge-preview/ImagePreview.vue';
import HugePDFPreview from './huge-preview/PDFPreview.vue';
import TinyDefaultPreview from './tiny-preview/DefaultPreview.vue';
import { useI18n } from 'vue-i18n';
import useModal from '@/components/modal/useModal';

const { t } = useI18n();

interface Props {
  file: FileService;
}

const props = defineProps<Props>();

const emit = defineEmits<{
  (event: 'delete'): void;
}>();

const onDelete = () => {
  if (!props.file.isPending) {
    emit('delete');
  }
};

const HugePreviewTypes: ALL_FORMATS[] = [FORMATS.IMAGE, FORMATS.PDF];

const hugePreviewContent: Record<ALL_FORMATS, Component> = {
  [FORMATS.IMAGE]: HugeImagePreview,
  [FORMATS.VIDEO]: TinyDefaultPreview,
  [FORMATS.PDF]: HugePDFPreview,
  [FORMATS.ANY]: TinyDefaultPreview,
};
const tinyPreviewContent: Record<ALL_FORMATS, Component> = {
  [FORMATS.IMAGE]: TinyImagePreview,
  [FORMATS.VIDEO]: TinyDefaultPreview,
  [FORMATS.PDF]: TinyDefaultPreview,
  [FORMATS.ANY]: TinyDefaultPreview,
};

const needHugePreview = computed(() => HugePreviewTypes.includes(props.file.getFileType));

const openHugePreview = () => {
  const hugePreviewModal = useModal({
    content: hugePreviewContent[props.file.getFileType],
  });

  hugePreviewModal.open({ link: props.file.getFilePath });
};
</script>
