<template>
  <div>
    <div class="headline-bold mb-2">
      <slot name="legend" />
    </div>

    <div class="rounded-lg bg-dark-blue-1 p-6 empty:hidden">
      <slot />
    </div>
  </div>
</template>
