<template>
  <AppInputRange v-model:start="startValue" v-model:stop="stopValue" :filled="filled" :invalid="invalid">
    <template #errors>
      {{ errorMessageStart || errorMessageStop }}
    </template>
    <template v-for="(_, name) in $slots" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>
  </AppInputRange>
</template>

<script lang="ts" setup>
import { computed, toRef, watch, onMounted, nextTick } from 'vue';
import { useField, useIsFieldTouched } from 'vee-validate';

interface InputProps {
  startName: string;
  stopName: string;
  start?: number | null;
  stop?: number | null;
}

const props = defineProps<InputProps>();

defineEmits<{
  (event: 'update:start', value: number | null): void;
  (event: 'update:stop', value: number | null): void;
}>();

const startName = toRef(props, 'startName');
const stopName = toRef(props, 'stopName');

const {
  value: startValue,
  errorMessage: errorMessageStart,
  setTouched: setTouchedStart,
} = useField<number | null>(startName, undefined, {
  validateOnValueUpdate: false,
  syncVModel: true,
});
const {
  value: stopValue,
  errorMessage: errorMessageStop,
  setTouched: setTouchedStop,
} = useField<number | null>(stopName, undefined, {
  validateOnValueUpdate: false,
  syncVModel: true,
});

const isTouchedStart = useIsFieldTouched(startName);
const isTouchedStop = useIsFieldTouched(stopName);
const invalid = computed<boolean>(
  () => isTouchedStart.value && isTouchedStop.value && Boolean(errorMessageStart.value || errorMessageStop.value)
);
const filled = computed<boolean>(
  () =>
    Number.isInteger(startValue.value) ||
    Boolean(startValue.value) ||
    Number.isInteger(stopValue.value) ||
    Boolean(stopValue.value)
);

watch(
  () => startValue.value,
  () => {
    if (!isTouchedStart.value) {
      setTouchedStart(true);
      setTouchedStop(true);
    }
  }
);

watch(
  () => stopValue.value,
  () => {
    if (!isTouchedStop.value) {
      setTouchedStart(true);
      setTouchedStop(true);
    }
  }
);

onMounted(() => {
  nextTick(() => {
    setTouchedStart(false);
    setTouchedStop(false);
  });
});
</script>
