<template>
  <AppTextEditor v-model="value" :filled="Boolean(value)" :invalid="invalid">
    <template #errors>
      {{ errorMessage }}
    </template>

    <template v-for="(_, name) in $slots" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>
  </AppTextEditor>
</template>

<script lang="ts" setup>
import { computed, toRef } from 'vue';
import { useField, useIsFieldTouched } from 'vee-validate';
import { useCurrentElement } from '@vueuse/core';

interface InputProps {
  name: string;
  modelValue?: string;
}

const props = defineProps<InputProps>();

defineEmits<{
  (event: 'update:modelValue', value: string): void;
}>();

const name = toRef(props, 'name');
const { value, errorMessage } = useField<string>(name, undefined, {
  validateOnValueUpdate: false,
  syncVModel: true,
});

const isTouched = useIsFieldTouched(name);
const invalid = computed<boolean>(() => isTouched.value && Boolean(errorMessage.value));

defineExpose({
  rootEl: useCurrentElement(),
});
</script>
