/* @font-face {
    font-family: 'Factor A Light';
    src: url('Factor A-Light-Web.woff2') format('woff2'), url('Factor A-Light-Web.woff') format('woff'), url('Factor A-Light-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Light Italic';
    src: url('Factor A-Light Italic-Web.woff2') format('woff2'), url('Factor A-Light Italic-Web.woff') format('woff'), url('Factor A-Light Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  } */
  @font-face {
    font-family: 'Factor A Regular';
    src: url('Factor A-Regular-Web.woff2') format('woff2'), url('Factor A-Regular-Web.woff') format('woff'), url('Factor A-Regular-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  /* @font-face {
    font-family: 'Factor A Italic';
    src: url('Factor A-Italic-Web.woff2') format('woff2'), url('Factor A-Italic-Web.woff') format('woff'), url('Factor A-Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Medium';
    src: url('Factor A-Medium-Web.woff2') format('woff2'), url('Factor A-Medium-Web.woff') format('woff'), url('Factor A-Medium-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Medium Italic';
    src: url('Factor A-Medium Italic-Web.woff2') format('woff2'), url('Factor A-Medium Italic-Web.woff') format('woff'), url('Factor A-Medium Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  } */
  @font-face {
    font-family: 'Factor A Bold';
    src: url('Factor A-Bold-Web.woff2') format('woff2'), url('Factor A-Bold-Web.woff') format('woff'), url('Factor A-Bold-Web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  /* @font-face {
    font-family: 'Factor A Bold Italic';
    src: url('Factor A-Bold Italic-Web.woff2') format('woff2'), url('Factor A-Bold Italic-Web.woff') format('woff'), url('Factor A-Bold Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Extrabold';
    src: url('Factor A-Extrabold-Web.woff2') format('woff2'), url('Factor A-Extrabold-Web.woff') format('woff'), url('Factor A-Extrabold-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Extrabold Italic';
    src: url('Factor A-Extrabold Italic-Web.woff2') format('woff2'), url('Factor A-Extrabold Italic-Web.woff') format('woff'), url('Factor A-Extrabold Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Black';
    src: url('Factor A-Black-Web.woff2') format('woff2'), url('Factor A-Black-Web.woff') format('woff'), url('Factor A-Black-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Black Italic';
    src: url('Factor A-Black Italic-Web.woff2') format('woff2'), url('Factor A-Black Italic-Web.woff') format('woff'), url('Factor A-Black Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Variable';
    src: url('Factor A-Variable-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Factor A Variable Italic';
    src: url('Factor A-Variable Italic-Web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  } */