<template>
  <div class="h-10 w-10 bg-cover bg-center bg-no-repeat" :style="{ backgroundImage: `url(${img})` }" />
</template>

<script lang="ts" setup>
import { computed } from 'vue';

interface Props {
  link: string;
}

const props = defineProps<Props>();

const img = computed(() => new URL(props.link, import.meta.url));
</script>
