<template>
  <div
    class="relative flex h-10 w-8 flex-shrink-0 cursor-pointer items-center justify-center overflow-hidden text-white hover:text-dark-blue-4"
    style="font-size: 18px; border-radius: 4px"
  >
    <slot />
    <div class="absolute inset-0 bg-black opacity-70"></div>
    <AppIcon name="play-circle" class="absolute transition-colors" />
  </div>
</template>
