<template>
  <CardWrapper v-bind="$attrs">
    <slot name="header" />
    <hr v-if="$slots.header" class="my-4" />

    <slot />

    <hr v-if="$slots.footer" class="my-4" />
    <slot name="footer" />
  </CardWrapper>
</template>

<script lang="ts" setup>
import CardWrapper from './CardWrapper.vue';
</script>
