<template>
  <div :class="classNamesContainer">
    <router-link v-if="routerLink" :to="routerLink" class="h-full w-full">
      <div :class="classNamesInner">
        <slot />
      </div>
    </router-link>
    <template v-else>
      <div :class="classNamesInner">
        <slot />
      </div>
    </template>

    <AppIcon
      id="app-draggable-card"
      v-if="draggable && !dragging"
      name="move"
      class="absolute bottom-1/2 right-4 translate-y-1/2 cursor-pointer text-dark-blue-primary"
    />
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { RouterLink } from 'vue-router';
import type { RouteLocationNamedRaw } from 'vue-router';

interface CardProps {
  routerLink?: string | RouteLocationNamedRaw;
  hover?: boolean;
  draggable?: boolean;
  dragging?: boolean;
  classes?: string;
}

const props = withDefaults(defineProps<CardProps>(), {
  hover: false,
  gradient: false,
  draggable: false,
  dragging: false,
  classes: '',
});

const classNamesContainer = computed(() => {
  return [
    'rounded-lg bg-background-primary relative',
    {
      'transition-shadow hover:shadow-base': props.hover && !props.dragging,
      'bg-dark-blue-2 border-2 border-dashed border-dark-blue-3': props.dragging,
    },
  ];
});

const classNamesInner = computed(() => {
  return [
    'h-full w-full overflow-hidden text-wrapping',
    {
      'opacity-0': props.dragging,
      [props.classes]: Boolean(props.classes),
    },
  ];
});
</script>
