<template>
  <AppButton :stroked="!value" @click="value = !value"><slot /></AppButton>
</template>

<script setup lang="ts">
import { computed } from 'vue';

interface Props {
  modelValue?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  modelValue: false,
});

const emit = defineEmits<{
  (event: 'update:modelValue', value: boolean): void;
}>();

const value = computed<boolean>({
  get() {
    return props.modelValue;
  },
  set(newValue: boolean) {
    emit('update:modelValue', newValue);
  },
});
</script>
