<template>
  <div ref="root" class="app-steps flex flex-wrap">
    <svg
      v-for="(step, index) in steps"
      :key="index"
      :viewBox="stepParams.viewBox"
      :class="{ 'opacity-60': step.number > (modelValue?.number ?? 0) }"
      :style="{ height: stepParams.height }"
      :fill="step.number < (modelValue?.number ?? 0) ? '#515B93' : 'none'"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon v-if="index === 0" :points="stepParams.polygonStart" />
      <polygon v-else-if="index < steps.length - 1" :points="stepParams.polygonMiddle" />
      <polygon v-else :points="stepParams.polygonEnd" />

      <text
        :x="stepParams.textPadding"
        y="50%"
        dominant-baseline="central"
        :fill="step.number < (modelValue?.number ?? 0) ? 'white' : 'var(--primary-dark-blue)'"
        class="subheadline-bold"
      >
        {{ step.name }}
      </text>
    </svg>
  </div>
</template>

<script lang="ts" setup>
import { Step } from './types';
import { ref, computed } from 'vue';
import { useElementSize } from '@vueuse/core';

interface Props {
  modelValue?: Step;
  steps: Step[];
}

const props = defineProps<Props>();

const root = ref(null);
const { width: rootWidth } = useElementSize(root);

const stepParams = computed(() => {
  const HEIGHT = 42;
  const OFFSET = 1;
  const TRIANGLE_WIDTH = 14;
  const totalW = Math.floor(rootWidth.value / props.steps.length);
  const halfH = HEIGHT / 2;
  const subW = totalW - TRIANGLE_WIDTH;
  const ofstW = totalW - OFFSET;
  const ofstH = HEIGHT - OFFSET;

  return {
    height: `${HEIGHT}px`,
    textPadding: 24,
    viewBox: `0 0 ${totalW} ${HEIGHT}`,
    polygonStart: `${OFFSET},${OFFSET} ${subW},${OFFSET} ${ofstW},${halfH} ${subW},${ofstH} ${OFFSET},${ofstH}`,
    polygonMiddle: `${OFFSET},${OFFSET} ${subW},${OFFSET} ${ofstW},${halfH} ${subW},${ofstH} ${OFFSET},${ofstH} ${TRIANGLE_WIDTH},${halfH}`,
    polygonEnd: `${OFFSET},${OFFSET} ${ofstW},${OFFSET} ${ofstW},${ofstH} ${OFFSET},${ofstH} ${TRIANGLE_WIDTH},${halfH}`,
  };
});
</script>

<style lang="scss">
.app-steps polygon {
  stroke: theme('colors.dark-blue.5');
  stroke-width: 1;
  stroke-linejoin: bevel;
}
</style>
