<template>
  <div class="flex h-10 w-full items-center justify-between rounded-sm">
    <div :title="block.status?.name" class="title-20-bold flex items-center gap-2">
      <AppIcon v-if="block.is_team || block.status?.value !== BlockStatuses.OPEN" :name="block.status?.icon" />
      <AppIcon v-else name="user" />
      {{ block.title }}
    </div>

    <div v-if="editable" class="mr-5 flex cursor-pointer items-center justify-between space-x-2 text-dark-blue-primary">
      <AppIcon name="edit-01" @click.prevent.stop="$emit('update', block.id)" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { IBlock, BlockStatuses } from '@/store/blocks/types';

interface Props {
  block: IBlock;
  editable?: boolean;
}

defineProps<Props>();

defineEmits<{
  (event: 'update', id: number): void;
  (event: 'change', value: { is_active: boolean; id: number }): void;
}>();
</script>
