<template>
  <div class="space-y-10 rounded-md bg-white p-9">
    <AppSteps :steps="steps" v-model="step" />

    <div v-if="step.number === 0" class="flex flex-col items-center gap-5">
      <span class="title-20 text-font-black">
        {{ 'Чтобы получить доступ к курсу, необходимо подтвердить почту' }}
      </span>
      <AppButton with-icon small @click="onCheck" class="w-1/3">
        <AppLoader rotating v-if="loading" class="right-5" strokeColor="#000" size="25" />
        <span v-else>Обновить</span>
      </AppButton>
    </div>
    <div v-else-if="step.number === 1">
      <span class="title-20 text-font-black">
        {{ 'Теперь заполните недостающие данные' }}
      </span>

      <AppForm v-model="getAccount" v-slot="{ valid, values }" :schema="schema" class="mt-5">
        <TextField name="first_name" class="mb-9">
          <template #label> Имя<AppRequired /> </template>
        </TextField>

        <TextField name="last_name" class="mb-9">
          <template #label> Фамилия<AppRequired /> </template>
        </TextField>

        <TextField name="group" class="mb-9">
          <template #label> Учебная группа<AppRequired /> </template>
        </TextField>

        <AppButton with-icon :disabled="!valid" @click="onSubmitUpdate(values)" class="mx-auto block w-2/3">
          <AppLoader rotating v-if="loading" class="right-5" strokeColor="#000" size="25" />
          <span v-else>Сохранить</span>
        </AppButton>
      </AppForm>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Step } from '@/components/controls/types';
import { ref, onMounted } from 'vue';
import useAccountStore from '@/store/account';
import { storeToRefs } from 'pinia';
import useCourseStore from '@/store/courses';
import { IUser } from '@/store/account/types';
import * as yup from 'yup';
import { useAppToast } from '@/components/toast/useAppToast';

const accountStore = useAccountStore();
const { getAccount } = storeToRefs(accountStore);
const { updateUser, fetchUser } = accountStore;

const courseStore = useCourseStore();
const { checkRole } = courseStore;

const toast = useAppToast();

const steps: Step[] = [
  {
    number: 0,
    name: 'Подтвердите аккаунт',
  },
  {
    number: 1,
    name: 'Заполните данные',
  },
];

const emits = defineEmits<{
  (event: 'close'): void;
}>();

const step = ref<Step>(steps[0]);
const loading = ref(false);

onMounted(() => {
  onCheck();
});

const onCheck = async () => {
  loading.value = true;

  await fetchUser();

  loading.value = false;

  if (getAccount.value?.is_active) {
    step.value = steps[1];
  }
  if (getAccount.value?.group && getAccount.value.first_name && getAccount.value.last_name) {
    close();
  }
};

const close = async () => {
  loading.value = true;

  checkRole().then(() => {
    toast.success('Вы успешно добавлены в курс');
    emits('close');
  });

  loading.value = false;
};

const onSubmitUpdate = async (values: IUser) => {
  loading.value = true;
  await updateUser(values).then(() => {
    close();
  });
  loading.value = false;
};

const schema = yup.object().shape({
  first_name: yup.string().required().nullable(),
  last_name: yup.string().required().nullable(),
  group: yup.string().required().nullable(),
});
</script>
