<template>
  <div style="width: 400px">
    <p class="title-28-bold mb-6">{{ 'Поставьте оценку' }}</p>

    <div class="font-on-color">
      <AppForm v-model="answer" v-slot="{ values, valid }" :schema="schemaCreateScore">
        <TextField name="score" number :min="0" :max="10">
          <template #label> Оценка<AppRequired /> </template>
        </TextField>

        <HugeTextField name="comment" class="mt-6">
          <template #label> Комментарий к оценке </template>
        </HugeTextField>

        <AppButton :disabled="!valid" @click="$emit('update', values)" class="mt-6 w-full">Сохранить</AppButton>
      </AppForm>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { IAccountBlock } from '@/store/account-blocks/types';
import { schemaCreateScore } from '@/store/account-blocks/schemes';

interface Props {
  answer: IAccountBlock;
}

const props = defineProps<Props>();

const answer = ref<IAccountBlock>({
  score: props.answer.score,
  comment: props.answer.comment,
} as IAccountBlock);

defineEmits<{
  (event: 'update', value: IAccountBlock): void;
}>();
</script>
