<template>
  <draggable
    v-model="items"
    :disabled="disabled"
    item-key="id"
    tag="div"
    @change="$emit('change')"
    @start="onStart"
    @end="onEnd"
    :handle="handle"
  >
    <template #item="{ element, index }">
      <div>
        <slot :element="element" :index="index" :isDrag="currentIndex === index" />
      </div>
    </template>
  </draggable>
</template>

<script lang="ts" setup>
import { ref, computed, defineAsyncComponent } from 'vue';
const draggable = defineAsyncComponent(() => import('vuedraggable'));

interface Props {
  modelValue: unknown[];
  disabled?: boolean;
  handle?: string;
}

const props = withDefaults(defineProps<Props>(), {
  disabled: false,
});

const emit = defineEmits<{
  (event: 'update:model-value', value: unknown[]): void;
  (event: 'change'): void;
}>();

const items = computed<unknown[]>({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit('update:model-value', newValue);
  },
});

const currentIndex = ref<number | null>(null);

const onStart = ({ oldIndex }: { oldIndex: number }) => {
  currentIndex.value = oldIndex;
};

const onEnd = () => {
  currentIndex.value = null;
};
</script>
