<template>
  <div
    class="font-on-color text-wrapping sticky right-0 top-0 h-fit shrink-0 overflow-hidden rounded-bl-xl rounded-tl-xl bg-font-black py-10 pl-10 pr-13"
  >
    <slot />
  </div>
</template>
