<template>
  <!--begin::Header-->
  <div class="header">
    <!--begin::Logo-->
    <router-link to="/">
      <div class="flex items-center gap-4 text-white transition-colors hover:text-pink-primary">
        <AppIcon name="book-open" class="" style="font-size: 42px" />

        <p class="title-22-bold large-title-bold">N&N Project</p>
      </div>
    </router-link>
    <!--end::Logo-->

    <!--begin::Navbar-->
    <MenuHeader class="ml-20" />
    <!--end::Navbar-->

    <!--begin::Topbar-->
    <Topbar />
    <!--end::Topbar-->
  </div>
  <!--end::Header-->
</template>

<script lang="ts">
import Topbar from './HeaderTopbar.vue';
import MenuHeader from './MenuHeader.vue';

export default {
  name: 'AppHeader',
  components: {
    Topbar,
    MenuHeader,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
/* Desktop mode */
.header {
  display: flex;
  align-items: center;
  width: 100%;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;

  background-color: theme('colors.dark-blue.5');
  height: var(--header-h-lg);
  padding: 18px 48px;
}
</style>
