<template>
  <!--begin::Toolbar wrapper-->
  <div class="flex w-fit flex-shrink-0 items-stretch">
    <div class="title-20-bold mr-3 text-pink-primary">{{ getAccount?.last_name }} {{ getAccount?.first_name }}</div>

    <!--begin::User-->
    <div class="ms-lg-3 ms-1 flex items-center">
      <UserMenu />
    </div>
    <!--end::User -->

    <!--begin::Header menu toggle-->
    <div class="flex items-center lg:hidden" title="Show header menu"></div>
    <!--end::Header menu toggle-->
  </div>
  <!--end::Toolbar wrapper-->
</template>

<script lang="ts" setup>
import UserMenu from './UserMenu.vue';
import { storeToRefs } from 'pinia';
import useAccountStore from '@/store/account';

const accountStore = useAccountStore();
const { getAccount } = storeToRefs(accountStore);
</script>
