<template>
  <!--begin::Menu-->
  <div class="menu subheadline-bold">
    <div v-for="(item, index) in items" :key="index">
      <div class="menu-item">
        <router-link v-if="item.internal" class="menu-link" :to="{ name: item.name }">
          <span>{{ item.t_naming }}</span>
        </router-link>
      </div>
    </div>
  </div>
  <!--end::Menu-->
</template>

<script lang="ts" setup>
interface IMenuItem {
  name: string;
  internal: boolean;
  path?: string;
  children?: IMenuItem[];
  t_naming?: string;
}

const items: IMenuItem[] = [
  {
    name: 'course-listing',
    internal: true,
    t_naming: 'Курсы',
  },
];
</script>

<style lang="scss" scoped>
.menu {
  display: flex;
  max-width: 1012px;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  .menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: theme('borderRadius.xs');
    padding: 12px 16px;
    color: theme('colors.dark-blue.2');

    &:hover,
    &:active,
    &:focus,
    &[data-active='true'],
    &.router-link-active {
      background-color: var(--primary-dark-blue);
      color: white;
    }
  }
}

.dropdown {
  max-height: 200px;
  width: 300px;
  padding: 8px 0 12px;
  border-radius: theme('borderRadius.xs');
  background-color: theme('colors.dark-blue.primary');
}

.dropdown-item {
  background-color: inherit;
  color: theme('colors.dark-blue.2');
  cursor: pointer;

  padding: 12px 24px;
  text-align: left;

  &:hover,
  &:focus {
    background-color: theme('colors.dark-blue.8');
    color: white !important;
  }
}
</style>
