<template>
  <!--begin::Menu-->
  <div class="menu subheadline-bold">
    <router-link v-if="!isUserAuthenticated" class="menu-item px-3" to="/auth/login">
      {{ t('pages.log_in.name') }}
    </router-link>
    <a class="menu-item px-3" @click.prevent="logOut" v-else> Выйти из аккаунта </a>
  </div>
  <!--end::Menu-->
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n';
import { storeToRefs } from 'pinia';
import useAccountStore from '@/store/account';

const accountStore = useAccountStore();
const { isUserAuthenticated } = storeToRefs(accountStore);
const { logOut } = accountStore;

const { t } = useI18n();
</script>

<style lang="scss" scoped>
.menu {
  .menu-item {
    color: #ebebf5;

    cursor: pointer;

    padding: 12px 16px;
    border: 2px solid #ebebf5;
    border-radius: 12px;
  }
}
</style>
