<template>
  <InputWrapper>
    <template #field>
      <div
        class="flex flex-col overflow-hidden rounded-sm border border-dark-blue-1 bg-white font-graphik-regular text-black"
      >
        <Teleport v-if="isMenuBarSticky && editor" :to="teleportTarget">
          <TextEditorMenuBar :editor="editor" :excluded-menu-items="excludedMenuItems" class="mx-6">
            <template v-if="$slots.menuItem" #menuItem>
              <slot name="menuItem" />
            </template>
          </TextEditorMenuBar>
        </Teleport>

        <TextEditorMenuBar ref="menuBar" v-if="editor" :editor="editor" :excluded-menu-items="excludedMenuItems">
          <template v-if="$slots.menuItem" #menuItem>
            <slot name="menuItem" />
          </template>
        </TextEditorMenuBar>

        <EditorContent ref="contentBlock" :editor="editor" class="flex-grow" />
      </div>
    </template>

    <template v-for="(_, name) in $slots" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>
  </InputWrapper>
</template>

<script setup lang="ts">
import { watch, onBeforeUnmount, Ref, ref, computed, onMounted, nextTick } from 'vue';
import { useEditor, EditorContent, Editor } from '@tiptap/vue-3';
import TextEditorMenuBar from './components/TextEditorMenuBar.vue';
import InputWrapper from '../input/InputWrapper.vue';
import { useIntersectionObserver } from '@vueuse/core';
import { getEditorExtensions } from '@/components/text-editor/extensions/config';
import { handleRemovedDomNodes } from '@/components/text-editor/handle-removed-dom-nodes';
import { processLegacyHtml } from '@/components/text-editor/process-legacy-html';

interface IProps {
  modelValue: string | null;
  disabled?: boolean;
  placeholder?: string;
  teleportTarget?: string | HTMLElement;
  excludedMenuItems?: string[];
}

const props = withDefaults(defineProps<IProps>(), {
  modelValue: null,
});
const emit = defineEmits<{
  (event: 'update:modelValue', value: string | null): void;
}>();

const menuBar = ref();
const contentBlock = ref();
const isMenuBarVisible = ref(false);
const isContentBlockVisible = ref(false);
const isMenuBarSticky = computed(() => !isMenuBarVisible.value && isContentBlockVisible.value);

const editor = useEditor({
  content: props.modelValue || '<p></p>',
  editable: !props.disabled,
  editorProps: {
    attributes: {
      class: 'unset-normalize app-scroll-bar h-full',
    },
  },
  extensions: getEditorExtensions(),
  onUpdate: () => {
    const value = editor.value.isEmpty ? null : editor.value.getHTML();
    emit('update:modelValue', value);
  },
}) as Ref<Editor>;

onMounted(() => {
  watch(
    () => props.modelValue,
    async (newValue) => {
      if (editor.value.getHTML() === newValue) return;

      const processed = newValue ? processLegacyHtml(newValue) : '';
      const validHtml = await handleInvalidDOMNodes(processed);

      editor.value.commands.setContent(validHtml, true);
    },
    { immediate: true }
  );

  nextTick(() => {
    if (props.teleportTarget) {
      useIntersectionObserver(
        computed(() => menuBar.value?.getRootEl()),
        ([{ isIntersecting }]) => {
          isMenuBarVisible.value = isIntersecting;
        },
        { threshold: 1 }
      );
      useIntersectionObserver(
        computed(() => contentBlock.value?.rootEl),
        ([{ isIntersecting }]) => {
          isContentBlockVisible.value = isIntersecting;
        }
      );
    }
  });
});

onBeforeUnmount(() => {
  editor.value.destroy();
});

function handleInvalidDOMNodes(content: string): Promise<string> {
  return new Promise((resolve) => {
    const config = { childList: true };
    const observer = new MutationObserver(callback);
    const target = document.createElement('div');

    // сохраняем оригинальный хтмл и вешаем обсервера
    target.innerHTML = content;
    observer.observe(target, config);

    // редактор изменит html, отбросив невалидные узлы
    const editor = new Editor({ content, extensions: getEditorExtensions() });
    // присваивая измененный html, триггерим callback обсервера
    target.innerHTML = editor.getHTML();
    editor.destroy();

    // в handleRemovedDomNodes вычисляем элементы, которые не прошли валидацию и были удалены
    // возвращаем их в документ с соответствующим атрибутом
    function callback(mutationList: MutationRecord[], observer: MutationObserver) {
      for (const mutation of mutationList) {
        if (mutation.type === 'childList') {
          observer.disconnect();
          resolve(handleRemovedDomNodes(mutation));
        }
      }
    }
  });
}
</script>

<style lang="scss">
.ProseMirror {
  max-height: 80vh;
  padding: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  a[onclick] {
    pointer-events: none !important;

    img {
      pointer-events: auto;
    }
  }

  a {
    > img {
      display: inline;
    }
  }

  img {
    cursor: pointer;
  }
}

.unset-normalize {
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre,
  ol,
  ul,
  a {
    all: revert;
  }
}
</style>
