<template>
  <DetailViewWithForm
    v-model="block"
    :schema="schemaCreate"
    :loading="isLoading"
    :disableActions="isFetching"
    @back="onBack"
    @save="onSave"
  >
    <div ref="menuBarTeleportTarget" class="sticky top-0 z-1 h-0"></div>

    <div class="mb-9 flex items-center justify-between">
      <span class="large-title-bold">
        {{ blockID ? 'Редактирование блока' : 'Создание блока' }}
      </span>

      <SelectField
        v-show="blockID && getCourse.role.value === UsersRoles.MAINTAINER"
        name="status"
        small
        :options="blockStatuses"
        class="w-[325px]"
      >
        <template #show="{ data }">
          <span class="footnote-bold flex items-center gap-2 whitespace-nowrap font-normal">
            <AppIcon :name="data.icon" /> {{ data.name }}
          </span>
        </template>
        <template #show_single="{ data }">
          <span class="flex items-center gap-2 whitespace-nowrap">
            <AppIcon :key="data.icon" :name="data.icon" /> {{ data.name }}
          </span>
        </template>
      </SelectField>
    </div>

    <AppFieldset>
      <template #legend>
        {{ 'Настройки блока' }}
      </template>

      <SwitchField name="is_team" :position-label="'left'">{{ 'Блок командный?' }}</SwitchField>
    </AppFieldset>

    <AppFieldset>
      <template #legend>
        {{ 'Контент блока' }}
      </template>

      <TextField name="title" light class="mb-6">
        <template #label> {{ 'Заголовок' }}<AppRequired /> </template>
      </TextField>

      <TextEditorField
        ref="contentEditor"
        name="content"
        :teleport-target="menuBarTeleportTarget"
        :excluded-menu-items="['appButton']"
        class="blocks-create_content mb-6"
      >
        <template #label> {{ 'Контент' }}<AppRequired /> </template>
      </TextEditorField>

      <HugeFileField name="file" light>
        <template #label> {{ 'Вложения' }} </template>
      </HugeFileField>
    </AppFieldset>

    <template #back-title>
      <span>{{ 'Назад к курсу' }}</span>
    </template>

    <template #menu> </template>
  </DetailViewWithForm>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useRouter, useRoute } from 'vue-router';
import { ref, computed, onMounted, watch } from 'vue';
import DetailViewWithForm from '@/layouts/views/DetailViewWithForm.vue';
import { useAppToast } from '@/components/toast/useAppToast';
import { useActiveElement } from '@vueuse/core';
import { string, AnySchema, object } from 'yup';
import useBlockStore from '@/store/blocks';
import AppFieldset from '@/components/form/AppFieldset.vue';
import useCourseStore from '@/store/courses';
import { UsersRoles } from '@/store/courses/types';
import { blockStatuses } from '@/store/blocks/types';

const blockStore = useBlockStore();
const { fetchBlock, createBlock, updateBlock, handleDefault, setBlock } = blockStore;
const { block } = storeToRefs(blockStore);

const courseStore = useCourseStore();
const { fetchCourse } = courseStore;
const { getCourse } = storeToRefs(courseStore);

const router = useRouter();
const route = useRoute();
const toast = useAppToast();
const activeElement = useActiveElement({ deep: false });

const isLoading = ref(true);
const isFetching = ref(false);
const isEditorInFocus = ref(false);
const contentEditor = ref();
const menuBarTeleportTarget = ref();

const courseID = computed(() => Number(route.params.course_id));
const blockID = computed(() => Number(route.params.block_id));

watch(activeElement, (el) => {
  if (!contentEditor.value) return;
  isEditorInFocus.value = contentEditor.value.rootEl.contains(el) || menuBarTeleportTarget.value.contains(el);
});

onMounted(async () => {
  await fetchCourse(courseID.value);

  if (![UsersRoles.ASSISTANT, UsersRoles.MAINTAINER].includes(getCourse.value.role.value)) {
    router.push({ name: '404' });
    return;
  }

  setBlock(handleDefault());

  const articlePromise = blockID.value ? fetchBlock(blockID.value) : Promise.resolve();
  await articlePromise;

  isLoading.value = false;
});

async function onSave() {
  isFetching.value = true;

  try {
    if (blockID.value) {
      await updateBlock();
      toast.success('Блок успешно обновлен');
    } else {
      await createBlock();
      toast.success('Блок успешно создан');
    }

    onBack();
  } catch (err) {
    console.log(err);
  }

  isFetching.value = false;
}

function onBack() {
  router.push({ name: 'course-detail', params: { course_id: courseID.value } });
}

const schemaCreate: AnySchema = object().shape({
  title: string().nullable().required(),
  content: string().nullable().required(),
  file: string().nullable(),
});
</script>

<style lang="scss">
.blocks-create {
  &_content {
    .ProseMirror {
      height: 520px;
    }
  }
}
</style>
