<template>
  <DetailView :loading="isLoading" @back="onBack" menu>
    <div class="large-title-bold">{{ getBlock.title }}</div>

    <iframe ref="iframePreview" class="w-full" style="height: calc(100vh - var(--header-h-lg) - 100px)"></iframe>

    <template #back-title>
      {{ 'Назад' }}
    </template>

    <template #menu>
      <div class="flex w-fit flex-col items-start justify-center gap-3">
        <div class="title-22-bold flex items-center gap-4 text-font-primary">
          <AppIcon
            v-if="getBlock.is_team || getBlock.status?.value !== BlockStatuses.OPEN"
            :name="getBlock.status?.icon"
          />
          <AppIcon v-else name="user" />
          {{ getBlock.status?.name }}
        </div>

        <div
          v-if="
            getCourse.role?.value === UsersRoles.STUDENT &&
            getAccountBlock &&
            getBlock.status?.value !== BlockStatuses.ON_CHECK
          "
          class="body-bold text-wrapping mt-10 w-[250px] space-y-3 text-white"
        >
          <p v-if="getBlock.status?.value === BlockStatuses.OPEN">
            {{ 'Вы сдали работу' }}
          </p>
          <p v-if="getBlock.status?.value === BlockStatuses.CHECKED">
            {{ 'Оценка' }}: <span class="text-primary">{{ getAccountBlock?.score }}</span>
          </p>
          <p v-if="getBlock.status?.value === BlockStatuses.CHECKED">
            {{ 'Проверял' }}:
            <span class="text-primary">
              {{ getAccountBlock?.assistant?.last_name }} {{ getAccountBlock?.assistant?.first_name }}
            </span>
          </p>
          <p v-if="getBlock.status?.value === BlockStatuses.CHECKED">
            {{ 'Почта' }}:
            <span class="text-primary">
              {{ getAccountBlock?.assistant?.email }}
            </span>
          </p>
          <div v-if="getBlock.status?.value === BlockStatuses.CHECKED && getAccountBlock?.comment">
            {{ 'Комментарий к работе' }}:
            <p class="body">{{ getAccountBlock?.comment }}</p>
          </div>
        </div>

        <AppButton
          v-if="getCourse.role?.value === UsersRoles.STUDENT && getBlock.status?.value === BlockStatuses.OPEN"
          small
          class="subheadline-bold w-fit"
          :class="{ 'mt-10': !getAccountBlock }"
          @click="onOpenAnswerModal"
          with-icon
        >
          <AppIcon v-if="getAccountBlock" name="edit-01" class="-my-0.5 text-title-2md" />
          <AppIcon v-else name="plus-circle" class="-my-0.5 text-title-2md" />
          <span class="ml-2">{{ getAccountBlock ? 'Изменить ответ' : 'Добавить ответ' }}</span>
        </AppButton>
        <AppButton
          v-if="getCourse.role?.value !== UsersRoles.STUDENT"
          small
          class="subheadline-bold mt-10 w-fit"
          :router-link="{ name: 'account-blocks-in-block' }"
          with-icon
        >
          <span class="ml-2">{{ 'Открыть все ответы' }}</span>
        </AppButton>

        <AppButton
          v-if="getCourse.role?.value === UsersRoles.MAINTAINER"
          small
          stroked
          class="subheadline-bold mt-3 w-fit"
          @click="onOpenStatisticsModal"
          with-icon
        >
          <AppIcon name="flag" class="-my-0.5 text-title-2md" />
          <span class="ml-2">{{ 'Статистика' }}</span>
        </AppButton>
      </div>
    </template>
  </DetailView>
</template>

<script lang="ts" setup>
import { ref, onMounted, computed, watch } from 'vue';
import { storeToRefs } from 'pinia';
import { useRouter, useRoute } from 'vue-router';
import DetailView from '@/layouts/views/DetailView.vue';
import useBlockStore from '@/store/blocks';
import useCourseStore from '@/store/courses';
import { getPreviewHead } from '@/layouts/blocks/preview-utils';
import { BlockStatuses } from '@/store/blocks/types';
import { UsersRoles } from '@/store/courses/types';
import CreateAnswer from '@/layouts/blocks/CreateAnswer.vue';
import useModal from '@/components/modal/useModal';
import useAccountBlockStore from '@/store/account-blocks';
import { IAccountBlockCreate } from '@/store/account-blocks/types';
import { useAppToast } from '@/components/toast/useAppToast';
import ModalStatistics from '@/layouts/blocks/ModalStatistics.vue';

const toast = useAppToast();

const router = useRouter();
const route = useRoute();

const modalAnswer = useModal({ content: CreateAnswer });
const modalStatistics = useModal({ content: ModalStatistics });

const blockStore = useBlockStore();
const { fetchBlock } = blockStore;
const { getBlock } = storeToRefs(blockStore);

const courseStore = useCourseStore();
const { fetchCourse } = courseStore;
const { getCourse } = storeToRefs(courseStore);

const accountBlock = useAccountBlockStore();
const { fetchAccountBlock, createAccountBlock, updateAccountBlockUser } = accountBlock;
const { getAccountBlock } = storeToRefs(accountBlock);

const isLoading = ref(false);
const iframePreview = ref();

const courseID = computed(() => Number(route.params.course_id));
const blockID = computed(() => Number(route.params.block_id));

const onBack = () => {
  router.push({ name: 'course-detail', params: { course_id: courseID.value } });
};

onMounted(async () => {
  isLoading.value = true;

  await fetchCourse(courseID.value);
  await fetchBlock(blockID.value);

  if (getCourse.value.role.value === UsersRoles.STUDENT) {
    await fetchAccountBlock(blockID.value);
  }

  isLoading.value = false;

  setTimeout(() => {
    watch(
      () => getBlock.value,
      () => {
        const doc = iframePreview.value;
        if (!doc) return;
        doc.contentWindow.document.head.innerHTML = getPreviewHead();
        doc.contentWindow.document.body.innerHTML = getBlock.value.content;
      },
      { flush: 'post', immediate: true, deep: true }
    );
  });
});

const onOpenAnswerModal = () => {
  const answer: IAccountBlockCreate = {
    file: '',
    block_id: blockID.value,
    ...getAccountBlock.value,
  };

  modalAnswer.open({ answer, onUpdate });
};

const onUpdate = async (values: IAccountBlockCreate) => {
  if (getAccountBlock.value) {
    await updateAccountBlockUser(getAccountBlock.value.id, values);
  } else {
    await createAccountBlock(values);
  }

  modalAnswer.close();
  toast.success('Ответ сохранен');
};

const onOpenStatisticsModal = () => {
  modalStatistics.open();
};
</script>
