<template>
  <TextEditorModalHeader>{{ t('components.text_editor.link.add') }}</TextEditorModalHeader>

  <AppForm v-model="fieldsRef" :schema="schema" v-slot="{ valid }" class="font-on-color mt-5">
    <TextField ref="topInput" name="link" :placeholder="t('link')" cleanable>
      <template #label>URL</template>
    </TextField>

    <div class="mt-6 flex">
      <AppButton small stroked class="ml-auto" @click="emit('close')">{{ t('cancel') }}</AppButton>
      <AppButton :disabled="!valid" small class="ml-3" @click="emit('save', fieldsRef)">{{ t('save') }}</AppButton>
    </div>
  </AppForm>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { string, object, AnySchema, boolean } from 'yup';
import TextField from '@/components/form/TextField.vue';
import { useI18n } from 'vue-i18n';
import TextEditorModalHeader from './TextEditorModalHeader.vue';
import type { TextEditorLinkFields } from '../types';

const props = defineProps<TextEditorLinkFields>();
const emit = defineEmits<{
  (event: 'close'): void;
  (event: 'save', value: TextEditorLinkFields): void;
}>();

const { t } = useI18n();

const schema: AnySchema = object().shape({
  addEvent: boolean(),
  link: string()
    .nullable()
    .when('addEvent', {
      is: (show: boolean) => show,
      then: string().nullable().required(),
    }),
  event: string()
    .nullable()
    .when('addEvent', {
      is: (show: boolean) => show,
      then: string().nullable().required(),
    }),
});
const fieldsRef = ref<TextEditorLinkFields & { addEvent: boolean }>({
  link: props.link,
  event: props.event,
  addEvent: Boolean(props.event),
});
const topInput = ref<InstanceType<typeof TextField>>();

onMounted(() => topInput.value?.focus());
</script>
