<template>
  <div ref="rootEl" class="flex flex-wrap items-center bg-dark-blue-4 p-3">
    <template v-for="item in items" :key="item.id">
      <span v-if="item.type === 'divider'" class="mx-2 h-5 w-px flex-shrink-0 bg-white opacity-25"></span>

      <AppSelect
        v-else-if="item.type === 'dropdown'"
        v-model="item.selected"
        :options="item.options"
        small
        class="text-editor-select text-editor-select--icon"
        tabindex="-1"
      >
        <template #show="{ data }">
          <AppButton :title="data.title" icon>
            <AppIcon :name="data.icon" :key="data.icon" />
          </AppButton>
        </template>

        <template #show_single="{ data }">
          <AppButton :title="data.title" icon>
            <AppIcon :name="data.icon" :key="data.icon" />
          </AppButton>
        </template>
      </AppSelect>

      <AppButton v-else :title="item.title" icon class="m-0.5" @click="item.action">
        <AppIcon :name="item.icon" :class="{ 'text-pink-primary': item.isActive ? item.isActive() : null }" />
      </AppButton>
    </template>

    <slot name="menuItem" />
  </div>
</template>

<script setup lang="ts">
import { Editor } from '@tiptap/vue-3';
import { useSlots, onBeforeMount, ref } from 'vue';
import { IDataSelect } from '@/core/types/base';

type MenuItem = {
  type?: 'divider' | 'dropdown';
  selected?: MenuItemOption;
  options?: MenuItemOption[];
  icon?: string;
  title?: string;
  id: string;
  action?: () => void;
  isActive?: () => void;
};
type MenuItemOption = MenuItem & IDataSelect;

interface IProps {
  editor: Editor;
  excludedMenuItems?: string[];
}
const props = withDefaults(defineProps<IProps>(), { excludedMenuItems: () => [] });
const rootEl = ref<HTMLDivElement>();
const slots = useSlots();
const getDividerItem = (): MenuItem => ({ type: 'divider', id: String(Math.random()) });
const highlightColor = getComputedStyle(document.body).getPropertyValue('--pink-shade-2');

const textAlignOptions = [
  {
    id: 1,
    name: 'Align Left',
    icon: 'align-left',
    title: 'Align Left',
    action: () => props.editor.chain().focus().setTextAlign('left').run(),
    isActive: () => props.editor.isActive({ textAlign: 'left' }),
  },
  {
    id: 2,
    name: 'Align Center',
    icon: 'align-center',
    title: 'Align Center',
    action: () => props.editor.chain().focus().setTextAlign('center').run(),
    isActive: () => props.editor.isActive({ textAlign: 'center' }),
  },
  {
    id: 3,
    name: 'Align Right',
    icon: 'align-right',
    title: 'Align Right',
    action: () => props.editor.chain().focus().setTextAlign('right').run(),
    isActive: () => props.editor.isActive({ textAlign: 'right' }),
  },
  {
    id: 4,
    name: 'Justify',
    icon: 'justify',
    title: 'Justify',
    action: () => props.editor.chain().focus().setTextAlign('justify').run(),
    isActive: () => props.editor.isActive({ textAlign: 'justify' }),
  },
];

const items: MenuItem[] = [
  {
    icon: 'undo',
    title: 'Undo',
    id: 'undo',
    action: () => props.editor.chain().focus().undo().run(),
  },
  {
    icon: 'redo',
    title: 'Redo',
    id: 'redo',
    action: () => props.editor.chain().focus().redo().run(),
  },
  {
    icon: 'clear-format',
    title: 'Clear Format',
    id: 'clearFormat',
    action: () => props.editor.chain().focus().clearNodes().unsetAllMarks().run(),
  },
  getDividerItem(),
  {
    icon: 'h-1',
    title: 'Heading 1',
    id: 'heading1',
    action: () => props.editor.chain().focus().toggleHeading({ level: 1 }).run(),
    isActive: () => props.editor.isActive('heading', { level: 1 }),
  },
  {
    icon: 'h-2',
    title: 'Heading 2',
    id: 'heading2',
    action: () => props.editor.chain().focus().toggleHeading({ level: 2 }).run(),
    isActive: () => props.editor.isActive('heading', { level: 2 }),
  },
  {
    icon: 'h-3',
    title: 'Heading 3',
    id: 'heading3',
    action: () => props.editor.chain().focus().toggleHeading({ level: 3 }).run(),
    isActive: () => props.editor.isActive('heading', { level: 3 }),
  },
  {
    icon: 'paragraph',
    title: 'Paragraph',
    id: 'paragraph',
    action: () => props.editor.chain().focus().setParagraph().run(),
    isActive: () => props.editor.isActive('paragraph'),
  },
  getDividerItem(),
  {
    icon: 'bold',
    title: 'Bold',
    id: 'bold',
    action: () => props.editor.chain().focus().toggleBold().run(),
    isActive: () => props.editor.isActive('bold'),
  },
  {
    icon: 'italic',
    title: 'Italic',
    id: 'italic',
    action: () => props.editor.chain().focus().toggleItalic().run(),
    isActive: () => props.editor.isActive('italic'),
  },
  {
    icon: 'strike',
    title: 'Strike',
    id: 'strike',
    action: () => props.editor.chain().focus().toggleStrike().run(),
    isActive: () => props.editor.isActive('strike'),
  },
  {
    icon: 'highlight',
    title: 'Highlight',
    id: 'highlight',
    action: () => props.editor.chain().focus().toggleHighlight({ color: highlightColor }).run(),
    isActive: () => props.editor.isActive('highlight'),
  },
  getDividerItem(),
  {
    type: 'dropdown',
    id: 'textAlign',
    get selected() {
      return textAlignOptions.find((option) => option.isActive()) ?? textAlignOptions[0];
    },
    set selected(option) {
      option.action();
    },
    options: textAlignOptions,
  },
  getDividerItem(),
  {
    icon: 'bullet-list',
    title: 'Bullet List',
    id: 'bulletList',
    action: () => props.editor.chain().focus().toggleBulletList().run(),
    isActive: () => props.editor.isActive('bulletList'),
  },
  {
    icon: 'ordered-list',
    title: 'Ordered List',
    id: 'orderedList',
    action: () => props.editor.chain().focus().toggleOrderedList().run(),
    isActive: () => props.editor.isActive('orderedList'),
  },
  {
    icon: 'hard-break',
    title: 'Hard Break',
    id: 'hardBreak',
    action: () => props.editor.chain().focus().setHardBreak().run(),
  },
  getDividerItem(),
  {
    icon: 'link',
    title: 'Link',
    id: 'link',
    action: () => props.editor.commands.openLinkModal(),
    isActive: () => props.editor.isActive('link'),
  },
  {
    icon: 'image',
    title: 'Image',
    id: 'image',
    action: () => props.editor.chain().openImageModal().run(),
  },
  {
    icon: 'video-line',
    title: 'Video',
    id: 'video',
    action: () => props.editor.chain().setVideo().run(),
    isActive: () => props.editor.isActive('video'),
  },
  {
    icon: 'blockquote',
    title: 'Blockquote',
    id: 'blockquote',
    action: () => props.editor.chain().focus().toggleBlockquote().run(),
    isActive: () => props.editor.isActive('blockquote'),
  },
  {
    icon: 'horizontal-rule',
    title: 'Horizontal Rule',
    id: 'horizontalRule',
    action: () => props.editor.chain().focus().setHorizontalRule().run(),
  },
  {
    icon: 'add-button',
    title: 'Add button',
    id: 'appButton',
    action: () => props.editor.chain().setButton().run(),
    isActive: () => props.editor.isActive('app-button'),
  },
  {
    icon: 'code-box-line',
    title: 'Add raw html',
    id: 'rawHtml',
    action: () => props.editor.chain().setHtmlBlock().run(),
  },
].filter((item) => !props.excludedMenuItems.includes(item.id)) as MenuItem[];

onBeforeMount(() => {
  if (slots.menuItem) {
    items.push(getDividerItem());
  }
});

defineExpose({
  getRootEl() {
    return rootEl.value;
  },
});
</script>

<style lang="scss">
.text-editor-select.text-editor-select {
  .app-input-wrapper .app-input {
    padding-left: 8px !important;
    padding-right: 8px !important;
    color: theme('colors.white');
    background-color: transparent;
  }

  .app-svg-icon {
    color: theme('colors.white');
  }

  .dropdown-item {
    color: theme('colors.font.secondary');
  }

  &--icon {
    .app-input-wrapper .app-input {
      padding: 0 !important;
    }

    .app-svg-icon {
      margin-left: -8px;
    }

    .dropdown-item {
      .app-svg-icon {
        color: theme('colors.font.secondary');
      }
    }
  }
}
</style>
