<template>
  <TextEditorModalHeader>{{ t('components.text_editor.button.add') }}</TextEditorModalHeader>

  <AppForm v-model="fieldsRef" :schema="schema" v-slot="{ valid }" class="font-on-color mt-5">
    <TextField ref="topInput" name="text" :placeholder="t('components.text_editor.button.text')">
      <template #label>{{ t('components.text_editor.button.text') }}</template>
    </TextField>

    <TextField name="link" :placeholder="t('link')" class="mt-3">
      <template #label>URL</template>
    </TextField>

    <div class="mt-6 flex">
      <AppButton v-if="showDelete" small stroked @click="emit('delete')">{{ t('delete') }}</AppButton>
      <AppButton small stroked class="ml-auto" @click="emit('close')">{{ t('cancel') }}</AppButton>
      <AppButton :disabled="!valid" small class="ml-3" @click="emit('save', fieldsRef)">{{ t('save') }}</AppButton>
    </div>
  </AppForm>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { string, object, AnySchema, boolean } from 'yup';
import TextField from '@/components/form/TextField.vue';
import { useI18n } from 'vue-i18n';
import type { TextEditorButtonFields } from '../types';
import TextEditorModalHeader from './TextEditorModalHeader.vue';

const props = defineProps<TextEditorButtonFields & { showDelete: boolean }>();
const emit = defineEmits<{
  (event: 'close'): void;
  (event: 'save', value: TextEditorButtonFields): void;
  (event: 'delete'): void;
}>();

const { t } = useI18n();

const fieldsRef = ref<TextEditorButtonFields & { addEvent: boolean }>({
  text: props.text,
  link: props.link,
  event: props.event,
  addEvent: Boolean(props.event),
});
const topInput = ref<InstanceType<typeof TextField>>();

const schema: AnySchema = object().shape({
  text: string().nullable().required(),
  link: string().nullable().required(),
  addEvent: boolean(),
  event: string()
    .nullable()
    .when('addEvent', {
      is: (show: boolean) => show,
      then: string().required(),
    }),
});

onMounted(() => topInput.value?.focus());
</script>
