<template>
  <TextEditorModalHeader>{{ t('components.text_editor.video.add') }}</TextEditorModalHeader>

  <AppForm v-model="fieldsRef" :schema="schema" v-slot="{ valid }" class="font-on-color mt-5">
    <TextField ref="topInput" name="url" placeholder="https://vimeo.com/123456..." cleanable>
      <template #label>URL</template>
    </TextField>

    <SelectField name="width" :options="widthOptions" class="mt-5">
      <template #label>
        {{ 'Ширина' }}
      </template>
    </SelectField>

    <TextField name="height" placeholder="100%" class="mt-5">
      <template #label>{{ 'Высота' }}</template>
    </TextField>

    <div class="mt-5 flex">
      <AppButton v-if="showDelete" small stroked @click="emit('delete')">{{ t('delete') }}</AppButton>
      <AppButton small stroked class="ml-auto" @click="emit('close')">{{ t('cancel') }}</AppButton>
      <AppButton :disabled="!valid" small class="ml-3" @click="onSave(fieldsRef)">{{ t('save') }}</AppButton>
    </div>
  </AppForm>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { string, object, AnySchema } from 'yup';
import TextField from '@/components/form/TextField.vue';
import { useI18n } from 'vue-i18n';
import TextEditorModalHeader from './TextEditorModalHeader.vue';
import type { IDataSelect } from '@/core/types/base';
import type { TextEditorVideoFields } from '../types';

type Fields = { url: string | null; width: IDataSelect; height?: string };

const widthOptions = [100, 75, 50, 25].map((n) => ({ name: `${n}%`, value: `${n}%`, id: n }));

const props = defineProps<TextEditorVideoFields & { showDelete: boolean }>();
const emit = defineEmits<{
  (event: 'close'): void;
  (event: 'delete'): void;
  (event: 'save', value: TextEditorVideoFields): void;
}>();

const { t } = useI18n();

const schema: AnySchema = object().shape({
  width: object(),
  url: string().nullable().required(),
});
const fieldsRef = ref<Fields>({
  url: props.url,
  height: props.height,
  width: props.width ? { name: props.width, value: props.width, id: parseInt(props.width) } : widthOptions[0],
});
const topInput = ref<InstanceType<typeof TextField>>();

onMounted(() => topInput.value?.focus());

function onSave(fields: Fields) {
  emit('save', { ...fields, width: fields.width.value as string });
}
</script>
