<template>
  <NodeViewWrapper>
    <div
      :class="[
        'body-bold mx-auto my-2 flex h-32 max-w-2xl cursor-pointer rounded-md text-white',
        view.icon ? 'bg-black' : 'bg-alert-alarm',
      ]"
      :style="view.styles"
      contenteditable="false"
      @click="view.handler"
    >
      <AppIcon v-if="view.icon" :name="view.icon" class="m-auto" style="font-size: 62px" />
      <span v-else class="m-auto">{{ view.fallback }}</span>
    </div>
  </NodeViewWrapper>
</template>

<script lang="ts" setup>
import { nodeViewProps, NodeViewWrapper } from '@tiptap/vue-3';
import { toRefs, computed } from 'vue';
import { getVideoSrcForTextEditor } from '../extensions/VideoExtension';
import { EDITOR_ID_ATTR } from '../constants';

const props = defineProps(nodeViewProps);
const { extension, node, editor } = toRefs(props);

const view = computed(() => {
  const fallback = '<UNKNOWN HTML />';
  let icon = '';
  const styles = { width: '100%' };
  let handler = () => {
    editor.value.commands.convertLegacyToRaw(node.value.attrs[EDITOR_ID_ATTR]);
  };

  switch (extension.value.name) {
    case 'video':
      icon = 'video-line';
      styles.width = node.value.attrs.width;
      handler = () => {
        const videoSrc = getVideoSrcForTextEditor(node.value.attrs.src, true);
        editor.value.commands.setVideo({ url: videoSrc, width: node.value.attrs.width });
      };
      break;
    case 'raw-html':
      icon = 'code-box-line';
      handler = () => {
        editor.value.commands.setHtmlBlock(node.value.attrs[EDITOR_ID_ATTR]);
      };
      break;
  }
  return { icon, styles, fallback, handler };
});
</script>
