<template>
  <TextEditorModalHeader>{{ t('components.text_editor.html.add') }}</TextEditorModalHeader>

  <AppForm v-model="fieldsRef" :schema="schema" v-slot="{ valid }" class="font-on-color mt-5" style="max-width: 408px">
    <HugeTextField
      ref="topInput"
      name="html"
      :placeholder="t('components.text_editor.html.text')"
      class="whitespace-pre-wrap"
    >
      <template #label>HTML</template>
    </HugeTextField>

    <div class="mt-5 flex">
      <AppButton v-if="showDelete" small stroked @click="emit('delete')">{{ t('delete') }}</AppButton>
      <AppButton small stroked class="ml-auto" @click="emit('close')">{{ t('cancel') }}</AppButton>
      <AppButton :disabled="!valid" small class="ml-3" @click="emit('save', fieldsRef.html)">{{ t('save') }}</AppButton>
    </div>
  </AppForm>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { string, object, AnySchema } from 'yup';
import { useI18n } from 'vue-i18n';
import TextEditorModalHeader from './TextEditorModalHeader.vue';
import HugeTextField from '@/components/form/HugeTextField.vue';

interface IProps {
  html: string | null;
  showDelete: boolean;
}

const props = defineProps<IProps>();
const emit = defineEmits<{
  (event: 'close'): void;
  (event: 'delete'): void;
  (event: 'save', value: string | null): void;
}>();

const { t } = useI18n();

const schema: AnySchema = object().shape({
  html: string().nullable().required(),
});
const fieldsRef = ref<{ html: string | null }>({ html: props.html });
const topInput = ref<InstanceType<typeof HugeTextField>>();

onMounted(() => topInput.value?.focus());
</script>
