<template>
  <TextEditorModalHeader>{{ t('components.text_editor.image.add') }}</TextEditorModalHeader>

  <AppForm v-model="fieldsRef" :schema="schema" v-slot="{ valid }" class="font-on-color mt-5">
    <HugeFileField name="url" :accept="FORMATS.IMAGE" />

    <SelectField name="width" :options="widthOptions" class="mt-5">
      <template #label>
        {{ t('size') }}
      </template>
    </SelectField>

    <div class="mt-5 flex">
      <AppButton v-if="showDelete" small stroked @click="emit('delete')">{{ t('delete') }}</AppButton>
      <AppButton small stroked class="ml-auto" @click="emit('close')">{{ t('cancel') }}</AppButton>
      <AppButton :disabled="!valid" small class="ml-3" @click="onSave(fieldsRef)">{{ t('save') }}</AppButton>
    </div>
  </AppForm>
</template>

<script lang="ts" setup>
import { ref, watch } from 'vue';
import { string, object, AnySchema, boolean } from 'yup';
import { FORMATS } from '@/core/services/Files';
import TextEditorModalHeader from './TextEditorModalHeader.vue';
import { useI18n } from 'vue-i18n';
import { TextEditorImgFields } from '../types';
import type { IDataSelect } from '@/core/types/base';

type Fields = Omit<TextEditorImgFields, 'width'> & { addEvent: boolean; width: IDataSelect };

const widthOptions = [100, 75, 50, 25].map((n) => ({ name: `${n}%`, value: `${n}%`, id: n }));

const props = defineProps<TextEditorImgFields & { showDelete: boolean }>();
const emit = defineEmits<{
  (event: 'close'): void;
  (event: 'delete'): void;
  (event: 'save', value: TextEditorImgFields): void;
}>();

const { t } = useI18n();

const schema: AnySchema = object().shape({
  width: object(),
  addEvent: boolean(),
  url: string().nullable().required(),
  link: string()
    .nullable()
    .when('addEvent', {
      is: (show: boolean) => show,
      then: string().nullable().required(),
    }),
  event: string()
    .nullable()
    .when('addEvent', {
      is: (show: boolean) => show,
      then: string().nullable().required(),
    }),
});

const fieldsRef = ref<Fields>({
  url: props.url,
  link: props.link,
  event: props.event,
  addEvent: Boolean(props.event),
  width: props.width ? { name: props.width, value: props.width, id: parseInt(props.width) } : widthOptions[0],
});

watch(
  () => fieldsRef.value.link,
  (newValue) => {
    if (!newValue) {
      fieldsRef.value.addEvent = false;
    }
  }
);

function onSave(fields: Fields) {
  emit('save', { ...fields, width: fields.width.value as string });
}
</script>
