<template>
  <div class="table-container">
    <div ref="scrollingElement" class="scroll-table-container" @scroll="handleScroll">
      <table v-bind="$attrs" class="app-table" role="grid">
        <!--begin::Table head-->
        <thead class="caption-bold thead">
          <!--begin::Table row-->
          <tr class="tr" role="row">
            <template v-for="(cell, index) in header" :key="index">
              <th
                :style="{
                  flex: cell.flex ? (Number.isFinite(cell.flex) ? `${cell.flex} 40px` : `0 ${cell.flex}`) : '1 40px',
                  'min-width': cell.flex && !Number.isFinite(cell.flex) ? cell.flex : cell.minWidth ?? '40px',
                  [`${cell.sticky}`]: Boolean(cell.sticky) && Boolean(cell.stickyGap) ? cell.stickyGap : '0',
                }"
                :class="[
                  'th transition-colors',
                  {
                    sorting: cell.sortable,
                    '!bg-dark-blue-2': sortLabel === (cell.sortingField ?? cell.key) || cell.highlighting,
                    [`table-sticky-col ${cell.sticky}`]: Boolean(cell.sticky),
                  },
                ]"
              >
                <template v-if="cell.sortable">
                  <AppSort
                    :field="cell.sortingField ?? cell.key"
                    :direction="sortLabel === (cell.sortingField ?? cell.key) ? order : undefined"
                    :default-direction="cell.firstSortDirection"
                    class="flex flex-grow justify-between px-3 py-4"
                    @sort="sort"
                  >
                    <TableCellShortener :normal="cell.name" :short="cell.shortName" #default="{ text }">
                      {{ text }}
                    </TableCellShortener>

                    <TableSortIcon
                      v-if="sortLabel === (cell.sortingField ?? cell.key)"
                      :direction="order"
                      class="ml-1 flex-shrink-0 translate-y-px"
                    />
                    <TableSortIcon v-else class="ml-1 flex-shrink-0 translate-y-px opacity-0" />
                  </AppSort>
                </template>
                <template v-else>
                  <div class="px-3 py-4">
                    <TableCellShortener :normal="cell.name" :short="cell.shortName" #default="{ text }">
                      {{ text }}
                    </TableCellShortener>
                  </div>
                </template>
              </th>
            </template>
          </tr>
          <!--end::Table row-->
        </thead>
        <!--end::Table head-->

        <!--begin::Table body-->
        <tbody class="subheadline tbody">
          <template v-if="data.length">
            <template v-for="(item, row) in data" :key="row">
              <tr class="tr" role="row">
                <!--start::Item-->
                <template v-for="(cell, col) in header" :key="col">
                  <td
                    :style="{
                      flex: cell.flex
                        ? Number.isFinite(cell.flex)
                          ? `${cell.flex} 40px`
                          : `0 ${cell.flex}`
                        : '1 40px',
                      'min-width': cell.flex && !Number.isFinite(cell.flex) ? cell.flex : cell.minWidth ?? '40px',
                      [`${cell.sticky}`]: Boolean(cell.sticky) && Boolean(cell.stickyGap) ? cell.stickyGap : '0',
                    }"
                    class="td"
                    :class="{
                      '!subheadline-bold highlighting': cell.highlighting,
                      [`table-sticky-col ${cell.sticky}`]: Boolean(cell.sticky),
                    }"
                  >
                    <slot :name="`cell-${cell.key}`" :item="item">
                      <span class="overflow-hidden overflow-ellipsis">{{ item[cell.key] }}</span>
                    </slot>
                  </td>
                </template>
                <!--end::Item-->
              </tr>
            </template>
          </template>
          <tr class="tr" v-else>
            <td colspan="7" class="td flex flex-grow justify-center">
              {{ emptyTableText }}
            </td>
          </tr>

          <!--start::Table loading-->
          <tr v-show="loading" class="tr absolute inset-0">
            <td class="td z-10 flex flex-grow justify-center !bg-transparent">
              <AppLoader :width="4" rotating />
            </td>
          </tr>

          <div v-show="loading" class="absolute inset-0 z-1 bg-white opacity-70" />
          <!--end::Table loading-->
        </tbody>
        <!--end::Table body-->
      </table>
    </div>

    <!--begin::Table footer-->
    <div class="table-footer">
      <AppPagination
        v-model="paginationRef"
        :total="total"
        :enableDropdown="enableItemsPerPageDropdown"
        :show-total="showTotal"
        :enable-all-items-per-page="enableAllItemsPerPage"
        @update:modelValue="emitParams"
      />
    </div>
    <!--end::Table footer-->
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, watch, toRefs, reactive, nextTick } from 'vue';
import { sortArray, SortParams } from '@/core/utils/sorting';
import { TableProps, TableParams } from './types';
import { IData } from '@/core/types/base';
import AppPagination from '@/components/AppPagination.vue';
import TableSortIcon from '@/components/sort/TableSortIcon.vue';
import AppSort from '@/components/sort/AppSort.vue';
import TableCellShortener from './TableCellShortener.vue';

/**
 ** Props
 */

const props = withDefaults(defineProps<TableProps>(), {
  emptyTableText: '',
  loading: false,
  enableItemsPerPageDropdown: true,
  enableAllItemsPerPage: true,
  showTotal: true,
  frontSort: false,
});

/**
 ** Props to refs
 */

const data = ref(props.data);
const {
  paginationRef,
  field: sortLabel,
  direction: order,
  api: sortApi,
} = toRefs(
  reactive({
    paginationRef: props.tableParams.pagination,
    ...props.tableParams.sort,
  })
);
const total = computed<number>(() => props.totalCount ?? data.value.length);

watch(
  () => props.data,
  () => {
    data.value = props.data;

    nextTick(() => {
      stickyActiveStyle();
    });
  }
);

watch(
  () => props.header,
  () => {
    nextTick(() => {
      stickyActiveStyle();
    });
  }
);

watch(
  () => props.tableParams,
  (newValue) => {
    const {
      pagination,
      sort: { field, api, direction },
    } = newValue;

    paginationRef.value = { ...pagination };
    order.value = direction;
    sortLabel.value = field;
    sortApi.value = api;
  },
  { immediate: true }
);

/**
 ** Emits
 */

const emit = defineEmits<{
  (event: 'update:table-params', tableParams: TableParams): void;
}>();

/**
 ** Sort
 */

const sort = ({ field, api, direction }: SortParams) => {
  order.value = direction;
  sortLabel.value = field;
  sortApi.value = api;

  if (props.frontSort) {
    sortArray<IData>(data.value, field, direction);
    return;
  }

  emitParams();
};

const emitParams = () => {
  emit('update:table-params', {
    pagination: paginationRef.value,
    sort: { direction: order.value, field: sortLabel.value, api: sortApi.value },
  });
};

/**
 ** Sticky.
 */

const scrollingElement = ref<HTMLDivElement | null>(null);

const handleScroll = () => {
  stickyActiveStyle();
};

const stickyActiveStyle = () => {
  if (!scrollingElement.value) return;

  const { scrollLeft, scrollWidth, clientWidth } = scrollingElement.value;

  const isScrollingToRight = Math.floor(scrollLeft);
  const isScrollingToLeft = Math.floor(scrollWidth - scrollLeft) > clientWidth;

  const stickyElements = document.getElementsByClassName('table-sticky-col');
  for (const element of stickyElements) {
    const sticked = element.classList.contains('left') ? isScrollingToRight : isScrollingToLeft;

    if (sticked) {
      element.classList.add('sticked');
    } else {
      element.classList.remove('sticked');
    }
  }
};
</script>

<style lang="scss" scoped>
.highlighting {
  background-color: #f9f9fb !important;
  transition: background-color 0.2s ease-out;
}

.table-container {
  position: relative;
  overflow: hidden;
  border-radius: theme('borderRadius.sm');
}

.scroll-table-container {
  display: block;
  position: relative;
  width: 100%;
  overflow-x: auto;
  background-color: theme('colors.white');
  border-bottom: 1px solid theme('colors.dark-blue.1');
  scrollbar-width: 28px;

  &::-webkit-scrollbar {
    width: 28px;
    height: 28px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
    padding: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 100px;
    background-color: theme('colors.dark-blue.3');
  }
}

.app-table {
  width: 100%;
  background-color: theme('colors.white');

  .thead {
    background-color: theme('colors.dark-blue.1');
  }

  .tbody {
    position: relative;
    z-index: 0;
  }

  .tr {
    display: flex;

    &:hover {
      & .td {
        @extend .highlighting;
      }

      :slotted(.show-on-hover) {
        opacity: 0.5;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    &:has(.td:only-child) {
      justify-content: center;

      &:hover .td {
        background-color: transparent !important;
      }
    }
  }

  .th,
  .td {
    display: flex;
    align-items: center;
    flex-basis: 40px;
    overflow: hidden;

    &:last-child {
      border-right: 0 !important;
    }
  }

  .th {
    cursor: default;
    background-color: theme('colors.dark-blue.1');
    border-right: 0.5px solid theme('colors.background.secondary2');

    &.sorting {
      cursor: pointer;
    }

    &:hover {
      background-color: theme('colors.dark-blue.2');

      .table-sort-icon {
        opacity: 1;
      }
    }
  }

  .td {
    padding: 8px 12px;
    background-color: theme('colors.white');
    border-right: 0.5px solid theme('colors.dark-blue.1');
    border-bottom: 1px solid theme('colors.dark-blue.1');
  }

  .loader {
    flex-basis: 50px;
    padding: 8px 0;
  }

  .table-sticky-col {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;

    &.left {
      left: 0;

      &.sticked {
        box-shadow: 5px 0px 5px 0px rgba(217, 215, 215, 0.5);
      }
    }
    &.right {
      right: 0;

      &.sticked {
        box-shadow: -5px 0px 5px 0px rgba(217, 215, 215, 0.5);
      }
    }
  }
}

.table-footer {
  width: 100%;
  background-color: theme('colors.white');
  padding: 24px;
}

:slotted(.show-on-hover) {
  opacity: 0;
}
</style>
