<template>
  <div style="width: 56px; height: 40px; min-width: 56px">
    <AppImage :src="correctUrl" class="h-full rounded-xs object-cover">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 40" fill="none" class="rounded-xs">
        <rect width="100%" height="100%" fill="#EAEBF2" />
        <line x1="0.14531" y1="-0.203433" x2="56.1453" y2="39.7966" stroke="#CCCFDF" stroke-width="0.5" />
        <line x1="-0.14531" y1="39.7966" x2="55.8547" y2="-0.203431" stroke="#CCCFDF" stroke-width="0.5" />
      </svg>
    </AppImage>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { SingletonFileManager } from '@/core/services/Files';

interface TableImagePreviewProps {
  url: string;
}

const props = defineProps<TableImagePreviewProps>();

const correctUrl = computed(() => SingletonFileManager.getInstance.getCorrectLink(props.url));
</script>
