<template>
  <div ref="el" :title="normal" class="flex grow overflow-hidden whitespace-nowrap">
    <slot :text="text">{{ text }}</slot>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, onMounted } from 'vue';
import { useElementSize } from '@vueuse/core';

interface TableCellShortenerProps {
  normal?: string;
  short?: string;
}

const props = withDefaults(defineProps<TableCellShortenerProps>(), { normal: '' });

const el = ref<HTMLElement | null>(null);
// const { width } = props.short ? useElementSize(el) : { width: ref(Number.MAX_SAFE_INTEGER) }; подумать как маунтить обсервер только при пропсе
const { width } = useElementSize(el);

const canvas = document.createElement('canvas');
let canvasFont: string;

const text = computed(() => {
  if (!props.short) return props.normal;

  // Ширину текста округляем в большую сторону, контейнера - в меньшую
  // Чтобы при сужении рядом с другим элементом сработало условие на укорачивание
  return Math.ceil(getTextWidth(props.normal)) >= Math.floor(width.value) ? props.short : props.normal;
});

onMounted(() => {
  canvasFont = getCanvasFont(el.value as HTMLElement);
});

function getTextWidth(value: string) {
  const context = canvas.getContext('2d') as CanvasRenderingContext2D;
  context.font = canvasFont;
  const metrics = context.measureText(value);

  return metrics.width;
}

function getCssStyle(element: HTMLElement, prop: string) {
  return window.getComputedStyle(element, null).getPropertyValue(prop);
}

function getCanvasFont(el: HTMLElement) {
  const fontWeight = getCssStyle(el, 'font-weight') || 'normal';
  const fontSize = getCssStyle(el, 'font-size') || '15px';
  const fontFamily = getCssStyle(el, 'font-family') || 'Graphik Regular';

  return `${fontWeight} ${fontSize} ${fontFamily}`;
}
</script>
