<template>
  <AppPopover @show="isPopoverShowed = true" @hide="isPopoverShowed = false">
    <template #reference>
      <AppButton :classes="isActive ? 'bg-dark-blue-2' : 'border-dark-blue-2'" small reversed with-icon stroked
        ><AppIcon name="columns" class="mr-2.5" /> {{ $t('components.table.cols_show_hide') }}</AppButton
      >
    </template>

    <template #content>
      <ul
        class="subheadline-bold z-10 space-y-4 rounded-sm border-2 border-background-tertiary bg-white py-2.5 pl-3 pr-4 text-font-primary"
      >
        <li v-for="col of columns" :key="col.key" class="flex justify-between">
          <span class="mr-8">{{ col.name }}</span>
          <AppSwitch v-model="value" :value="col.key" small color="var(--primary-dark-blue)" />
        </li>
      </ul>
    </template>
  </AppPopover>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import AppPopover from '@/components/AppPopover.vue';
import { IHeaderConfiguration } from '@/components/table/types';

interface IProps {
  modelValue: IHeaderConfiguration[];
  columns: IHeaderConfiguration[];
}

const props = defineProps<IProps>();
const emit = defineEmits<{
  (event: 'update:modelValue', value: IHeaderConfiguration[]): void;
}>();

const isPopoverShowed = ref(false);

const value = computed<string[]>({
  get() {
    return props.modelValue.map((col) => col.key);
  },
  set(newValue: string[]) {
    const newColumns = props.columns.filter((col) => newValue.includes(col.key));
    emit('update:modelValue', newColumns);
  },
});
const isActive = computed(() => isPopoverShowed.value || props.modelValue.length !== props.columns.length);
</script>
