<template>
  <div class="flex items-center justify-between">
    <div class="mr-6 empty:hidden"><slot name="title" /></div>

    <AppForm v-slot="{ reset }" v-model="values" class="flex items-center gap-6">
      <slot :reset="reset" :disabled="disabled" />

      <FiltersResetButton v-if="resetButton" :disabled="disabled" class="-ml-4" @click="reset()" />

      <AppLoader v-if="loading" rotating />
    </AppForm>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import FiltersResetButton from './FiltersResetButton.vue';

interface Props {
  modelValue: Record<string, unknown>;
  loading?: boolean;
  resetButton?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  loading: false,
  resetButton: true,
});

const emit = defineEmits<{
  (event: 'update:model-value', values: Record<string, unknown>): void;
}>();

const values = computed<Record<string, unknown>>({
  get() {
    return props.modelValue;
  },
  set(newValues) {
    emit('update:model-value', newValues);
  },
});

const disabled = computed<boolean>(() => Object.values(values.value).every((el) => el === undefined || el === null));
</script>
