<template>
  <TextField v-bind="$attrs" :debounce="700" :placeholder="`${$t('search')}...`" light small>
    <template #prefix="{ focused, filled, debounced }">
      <AppLoader v-if="debounced" :size="20" :width="2" rotating />

      <AppIcon v-else name="search" :class="[focused || filled ? 'text-pink-primary' : 'text-font-tertiary']" />
    </template>
  </TextField>
</template>
