<template>
  <AppButton stroked small :disabled="$attrs.disabled">
    {{ t('drop_filters') }}
  </AppButton>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
</script>
