<template>
  <AppPopover @show="isPopoverShowed = true" @hide="isPopoverShowed = false">
    <template #reference>
      <AppButton :classes="isActive ? 'bg-dark-blue-2' : ''" small reversed with-icon>
        <AppIcon name="filter" class="mr-2.5" /> {{ $t('components.filters.filters_show_hide') }}
      </AppButton>
    </template>

    <template #content>
      <ul
        class="subheadline-bold z-10 space-y-4 rounded-sm border-2 border-background-tertiary bg-white py-2.5 pl-3 pr-4 text-font-primary"
      >
        <li v-for="filter of filters" :key="filter.key" class="flex justify-between">
          <span class="mr-8">{{ filter.name }}</span>
          <AppSwitch v-model="value" :value="filter.key" small color="var(--primary-dark-blue)" />
        </li>
      </ul>
    </template>
  </AppPopover>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import AppPopover from '@/components/AppPopover.vue';
import { IFilterConfiguration } from './types';

interface IProps {
  modelValue: IFilterConfiguration[];
  filters: IFilterConfiguration[];
}

const props = defineProps<IProps>();
const emit = defineEmits<{
  (event: 'update:modelValue', value: IFilterConfiguration[]): void;
}>();

const isPopoverShowed = ref(false);

const value = computed<string[]>({
  get() {
    return props.modelValue.map((filter) => filter.key);
  },
  set(newValue: string[]) {
    const newFilters = props.filters.filter((filter) => newValue.includes(filter.key));
    emit('update:modelValue', newFilters);
  },
});
const isActive = computed(() => isPopoverShowed.value || props.modelValue.length !== props.filters.length);
</script>
