<template>
  <div class="flex w-full bg-background-primary" :class="{ 'bg-black': black }">
    <!--begin::Main content-->
    <div class="flex min-h-[calc(100vh-var(--header-h-lg))] w-full space-x-14 px-14 pt-13">
      <!--begin::Navigation back-->
      <div class="sticky top-13 h-fit" @click="emit('back')">
        <AppButton v-if="!$slots['back-title']" stroked :classes="backButtonClasses">
          <AppIcon name="arrow-left" class="-my-px -ml-0.5 mr-5" />
        </AppButton>
        <AppButton v-else transparent with-icon :classes="backButtonClasses">
          <AppIcon name="arrow-left" class="mr-2" />
          <slot name="back-title" />
        </AppButton>
      </div>
      <!--end::Navigation back-->

      <div class="w-full">
        <!--begin::Loader-->
        <div v-if="loading" class="flex h-full w-full items-center justify-center">
          <AppLoader rotating />
        </div>
        <!--end::Loader-->

        <slot v-else />
      </div>
    </div>
    <!--end::Main content-->

    <!--begin::Menu-->
    <AppSideMenu v-if="menu && !loading">
      <slot name="menu" />
    </AppSideMenu>
    <!--end::Menu-->
  </div>
</template>

<script lang="ts" setup>
import { computed, useSlots } from 'vue';

interface Props {
  loading?: boolean;
  black?: boolean;
  menu?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  loading: false,
  black: false,
  menu: false,
});

const emit = defineEmits<{
  (event: 'back'): void;
}>();

const slots = useSlots();

const backButtonClasses = computed<string>(() => {
  let result = 'text-font-secondary';

  if (slots['back-title']) {
    result += ' subheadline-bold p-0';
  } else {
    result += ' text-title-2md';
  }

  if (props.black) {
    result += ' bg-font-black';
  }

  return result;
});
</script>
