<template>
  <DetailView v-bind="$attrs" :black="black" :invalid="!isValid" @back="emit('back')">
    <template #default>
      <DetailForm
        ref="form"
        v-model="value"
        :schema="schema"
        :invalid="invalid"
        :black="black"
        :action="action"
        :cancel="cancel"
        :disable-actions="disableActions"
        :init-state="initState"
        @save="emit('save', value)"
        @reset="emit('reset')"
      >
        <slot />
      </DetailForm>
    </template>

    <template #menu v-if="$slots.menu">
      <slot name="menu" />
    </template>
    <template #back-title v-if="$slots['back-title']">
      <slot name="back-title" />
    </template>
  </DetailView>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue';
import DetailView from './DetailView.vue';
import { AnySchema } from 'yup';
import DetailForm from './DetailForm.vue';

interface Props {
  modelValue: Record<string, unknown>;
  schema?: AnySchema;
  invalid?: boolean;
  needInvalidPreview?: boolean;
  black?: boolean;
  action?: string;
  cancel?: string;
  disableActions?: boolean;
  initState?: Record<string, unknown>;
}

const props = withDefaults(defineProps<Props>(), {
  invalid: false,
  needInvalidPreview: false,
  black: false,
});

const emit = defineEmits<{
  (event: 'update:model-value', value: Record<string, unknown>): void;
  (event: 'back'): void;
  (event: 'reset'): void;
  (event: 'save', values: Record<string, unknown>): void;
}>();

const form = ref<InstanceType<typeof DetailForm>>();

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit('update:model-value', newValue);
  },
});

const isValid = computed<boolean>(() => !props.needInvalidPreview || (!!form.value?.isFormValid() && !props.invalid));

defineExpose({
  resetForm(values?: Record<string, unknown>) {
    form.value?.resetForm(values);
  },
  submitForm(values: Record<string, unknown>) {
    form.value?.submitForm(values);
  },
  isFormValid() {
    return isValid.value;
  },
  setTouched(fields: boolean | Record<string, boolean>) {
    form.value?.setTouched(fields);
  },
});
</script>
