<template>
  <div style="min-width: 400px">
    <p class="title-28-bold mb-6">{{ 'Добавьте ответ' }}</p>

    <div class="font-on-color">
      <AppForm v-model="answer" v-slot="{ values, valid }" :schema="schemaCreateAnswer">
        <HugeFileField name="file" />

        <AppButton :disabled="!valid" @click="$emit('update', values)" class="mt-6 w-full">Сохранить</AppButton>
      </AppForm>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { IAccountBlockCreate } from '@/store/account-blocks/types';
import { schemaCreateAnswer } from '@/store/account-blocks/schemes';

interface Props {
  answer: IAccountBlockCreate;
}

const props = defineProps<Props>();

const answer = ref<IAccountBlockCreate>({
  file: props.answer.file,
  block_id: props.answer.block_id,
} as IAccountBlockCreate);

defineEmits<{
  (event: 'update', value: IAccountBlockCreate): void;
}>();
</script>
