<template>
  <div class="w-[700px] p-2">
    <AppLoader rotating v-if="loading" class="m-auto block" />
    <div v-else>
      <div class="flex w-full items-end justify-between overflow-hidden">
        <div
          v-for="score in [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]"
          :key="score"
          class="flex h-[300px] w-[20px] flex-col items-center justify-end gap-2 bg-black"
        >
          <p v-if="statistics.scores[score]" class="text-dark-blue-3">{{ statistics.scores[score] }}</p>
          <div
            v-if="statistics.scores[score]"
            class="w-full bg-yellow-5"
            :style="{ height: statistics.total ? `${(statistics.scores[score] / statistics.total) * 100}%` : '0%' }"
          ></div>
          <hr class="100vw w-screen" />
          <p class="text-white">{{ score }}</p>
        </div>
        <p class="subheadline-bold text-white">Оценки</p>
      </div>
      <p class="subheadline-bold mt-4 text-white">
        Процент проверенных работ:
        <span class="title-20-bold text-primary"
          >{{ statistics.total ? Math.floor((statistics.total_checked / statistics.total) * 100) : 0 }}%</span
        >
      </p>
    </div>
  </div>
</template>

<script lang="ts" setup>
import useAccountBlockStore from '@/store/account-blocks';
import { IAccountBlockFiltersApi, IAccountBlockStatistics } from '@/store/account-blocks/types';
import { onMounted, ref, computed } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const loading = ref(false);

const accountBlock = useAccountBlockStore();
const { getStatistics } = accountBlock;

const blockID = computed(() => Number(route.params.block_id));

const statistics = ref<IAccountBlockStatistics>({
  total: 0,
  total_checked: 0,
  scores: {},
} as IAccountBlockStatistics);

onMounted(async () => {
  loading.value = true;
  statistics.value = await getStatistics({ block_id: blockID.value || null } as IAccountBlockFiltersApi);
  loading.value = false;
});
</script>
