<template>
  <DetailView :loading="isLoading" @back="onBack" menu class="pb-6">
    <div class="large-title-bold mb-10">{{ getTeam?.name }}</div>

    <AppFieldset>
      <template #legend>
        {{ 'Участники' }}
        <span v-if="!getCourse.team_settings?.members_amount_max" class="text-font-tertiary">
          {{ `(в команде должно быть минимум ${getCourse.team_settings?.members_amount_min ?? 2} человек(-а))` }}
        </span>
        <span
          v-else-if="getCourse.team_settings?.members_amount_min !== getCourse.team_settings?.members_amount_max"
          class="text-font-tertiary"
        >
          {{
            `(в команде должно быть от ${getCourse.team_settings?.members_amount_min ?? 2} до ${getCourse.team_settings?.members_amount_max} человек(-а))`
          }}
        </span>
        <span v-else class="text-font-tertiary">
          {{ `(в команде должно быть ${getCourse.team_settings?.members_amount_min ?? 2} человек(-а))` }}
        </span>
      </template>

      <div
        class="grid grid-cols-1 gap-6 rounded-lg bg-dark-blue-1 md:grid-cols-3"
        style="grid-auto-rows: minmax(150px, auto)"
      >
        <div
          v-for="user_team in getTeam?.user_teams"
          :key="user_team.id"
          class="flex flex-col justify-between overflow-hidden rounded-md bg-white p-5"
        >
          <div class="title-20-bold flex items-center justify-between">
            <span :title="` ${user_team.user.last_name} ${user_team.user.first_name}`" class="line-clamp-1"
              >{{ user_team.user.last_name }} {{ user_team.user.first_name }}</span
            >
            <span v-if="user_team.is_leader" class="body-bold text-primary">{{ 'Лидер' }}</span>
            <AppButton v-else-if="getIsLeader" xsmall secondary @click="onDeleteMember(user_team.id)">
              <AppIcon name="trash-02" class="-m-px -mt-0.5 text-text-sm" />
            </AppButton>
          </div>

          <div>
            <div class="headline-bold flex space-x-2">
              <p class="text-font-tertiary">{{ 'Группа' }}:</p>
              <p>{{ user_team.user.group }}</p>
            </div>
            <div class="headline-bold mt-1 flex space-x-2">
              <p class="text-font-tertiary">{{ 'Почта' }}:</p>
              <p class="line-clamp-1">{{ user_team.user.email }}</p>
            </div>
          </div>
        </div>

        <div
          v-for="index in Math.max(
            (getCourse.team_settings?.members_amount_min ?? 2) - (getTeam?.user_teams.length ?? 0),
            0
          )"
          :key="index"
          class="footnote-bold flex cursor-pointer items-center justify-center whitespace-pre-line rounded-md border-2 border-dashed border-alert-alarm bg-white p-5 text-center text-alert-alarm"
          @click="onInviteTeamMember"
        >
          {{ 'Добавьте еще участника, \n чтобы команда была полной' }}
        </div>
      </div>
    </AppFieldset>

    <template #back-title>
      {{ 'Назад' }}
    </template>

    <template #menu>
      <div class="flex w-fit flex-col items-start justify-center gap-3">
        <AppButton
          v-if="getIsLeader"
          stroked
          small
          class="subheadline-bold mt-3 w-fit"
          @click="onOpenUpdateTeam"
          with-icon
        >
          <AppIcon name="edit-01" class="-my-0.5 text-title-2md" />
          <span class="ml-2">{{ 'Поменять название' }}</span>
        </AppButton>

        <AppButton
          v-if="
            getIsLeader &&
            getTeam &&
            (!getCourse.team_settings?.members_amount_max ||
              getTeam.user_teams.length < getCourse.team_settings?.members_amount_max)
          "
          small
          stroked
          class="w-fit"
          @click="onInviteTeamMember"
          with-icon
          classes="body-bold"
        >
          <AppIcon name="users" class="-my-0.5 text-title-2md" />
          <span class="ml-2">{{ 'Пригласить участников' }}</span>
        </AppButton>

        <AppButton
          v-if="getIsLeader"
          @click="onDelete"
          small
          class="w-fit"
          with-icon
          classes="body-bold bg-alert-alarm"
        >
          <AppIcon name="x" class="-my-0.5 text-title-2md" />
          <span class="ml-2">{{ 'Удалить команду' }}</span>
        </AppButton>

        <AppButton
          v-if="!getIsLeader"
          @click="onDeleteMember()"
          small
          class="w-fit"
          with-icon
          classes="body-bold bg-alert-alarm"
        >
          <AppIcon name="x" class="-my-0.5 text-title-2md" />
          <span class="ml-2">{{ 'Покинуть команду' }}</span>
        </AppButton>
      </div>
    </template>
  </DetailView>
</template>

<script lang="ts" setup>
import { ref, onMounted, computed } from 'vue';
import { storeToRefs } from 'pinia';
import { useRouter, useRoute } from 'vue-router';
import DetailView from '@/layouts/views/DetailView.vue';
import useCourseStore from '@/store/courses';
import useTeamStore from '@/store/teams';
import { useAppToast } from '@/components/toast/useAppToast';
import useModal from '@/components/modal/useModal';
import UpdateTeam from '@/layouts/teams/UpdateTeam.vue';
import AppFieldset from '@/components/form/AppFieldset.vue';
import useModalConfirm from '@/components/modal/useModalConfirm';

const options = {
  action: 'Удалить',
};
const [title, subTitle] = ['Удаление команды', 'Вы уверены, что хотите удалить команду?'];
const confirmModal = useModalConfirm('', '', {
  clickToClose: false,
});

const updateTeam = useModal({ content: UpdateTeam });

const router = useRouter();
const route = useRoute();
const toast = useAppToast();

const teamStore = useTeamStore();
const { fetchTeam, getMemberLink, deleteTeam, deleteUser } = teamStore;
const { getTeam, getIsLeader } = storeToRefs(teamStore);

const courseStore = useCourseStore();
const { fetchCourse } = courseStore;
const { getCourse } = storeToRefs(courseStore);

const isLoading = ref(false);

const courseID = computed(() => Number(route.params.course_id));

const onBack = () => {
  router.push({ name: 'course-detail', params: { course_id: courseID.value } });
};

onMounted(async () => {
  isLoading.value = true;

  await fetchCourse(courseID.value);
  await fetchTeam();

  if (!getTeam) {
    router.push({ name: '404' });
    return;
  }

  isLoading.value = false;
});

const onInviteTeamMember = async () => {
  const token = await getMemberLink();

  const encodeToken = encodeURIComponent(token);
  const link = `${window.location.origin}/course/${courseID.value}/team/invite/?token=${encodeToken}`;

  await navigator.clipboard.writeText(link);
  toast.success('Ссылка скопирована в буфер обмена');
};

const onCloseUpdateTeam = () => {
  updateTeam.close();
};

const onOpenUpdateTeam = () => {
  updateTeam.open({ team: getTeam.value, onClose: onCloseUpdateTeam });
};

const onDelete = async () => {
  const action = await confirmModal.open({ title, subTitle, ...options });

  if (!action) {
    return;
  }

  deleteTeam().then(() => {
    onBack();

    toast.success('Вы удалили команду');
  });
};

const onDeleteMember = async (id?: number) => {
  const title = id ? 'Удаление участника' : '';
  const subTitle = id ? 'Вы уверены, что хотите удалить участника?' : 'Вы уверены, что хотите покинуть команду?';

  const action = await confirmModal.open({ title, subTitle, ...options });

  if (!action) {
    return;
  }

  await deleteUser(id);

  toast.success(id ? 'Вы удалили участника' : 'Вы покинули команду');

  if (!id) {
    onBack();
  }
};
</script>
