<template>
  <div
    class="flex min-h-[calc(100vh-var(--header-h-lg))] w-full items-center justify-center py-4"
    style="background: #e0edff"
  >
    <div
      class="mx-auto flex h-2/3 w-full flex-col items-center justify-center gap-4 rounded-lg bg-white p-9 text-center shadow-base"
      style="min-width: 300px; max-width: 500px"
    >
      <span class="large-title-bold flex items-center gap-6">{{ text }} <AppLoader rotating v-if="loading" /></span>
      <AppButton v-if="!loading" :router-link="`/course/${courseIDRef}`" with-icon>
        {{ 'На страницу курса' }} <AppIcon name="book-open" class="ml-4" />
      </AppButton>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, computed } from 'vue';
import useTeamStore from '@/store/teams';
import useCourseStore from '@/store/courses';
import { useRoute, useRouter } from 'vue-router';
import { TEAM_TOKEN_KEY, TEAM_COURSE_KEY } from '@/store/teams/types';
import { ApiError } from '@/core/services/Api';
import { useAppToast } from '@/components/toast/useAppToast';

const toast = useAppToast();

const loading = ref<boolean>(false);
const text = ref<string>('Загрузка...');

const route = useRoute();
const router = useRouter();

const courseIDRef = computed(() => Number(route.params.course_id));

const courseStore = useCourseStore();
const { fetchCourse } = courseStore;

const teamStore = useTeamStore();
const { inviteUser } = teamStore;

onMounted(async () => {
  loading.value = true;

  localStorage.removeItem(TEAM_TOKEN_KEY);
  localStorage.removeItem(TEAM_COURSE_KEY);

  const courseID = Number(route.params.course_id);

  const token = decodeURIComponent(route.query.token as string);
  if (!token) {
    router.push({ name: '404' });
    return;
  }

  try {
    await fetchCourse(courseID);
    await inviteUser(token);

    text.value = 'Открываем команду...';
    router.push({ name: 'team-detail', params: { course_id: courseID } });
    toast.success('Вы добавлены в команду');
  } catch (error) {
    if (error instanceof ApiError && error.code === 401) {
      localStorage.setItem(TEAM_TOKEN_KEY, token);
      localStorage.setItem(TEAM_COURSE_KEY, courseID.toString());
      toast.warning('Прежде чем получить доступ к команде, необходимо авторизоваться');
    }

    text.value = 'Не удалось получить доступ к команде :(';
  }

  loading.value = false;
});
</script>
