<template>
  <DetailView :loading="loadingCourse" @back="onBack" class="!bg-background-secondary2 pb-10">
    <p class="large-title-bold mb-10">
      {{ 'Ответы студентов' }}
    </p>

    <div class="mb-3 flex w-full flex-row items-center justify-between">
      <AppForm v-model="filters" class="flex items-center gap-4 pr-10">
        <AppSearch name="search" class="grow" placeholder="Поиск по фамилиям, группе или почте" />

        <TextField
          name="score"
          placeholder="0"
          small
          number
          light
          hide-controls
          :min="0"
          :max="10"
          :debounce="500"
          class="account_blocks_number-input"
        >
          <template #labelLeft>
            {{ 'Оценка' }}
          </template>
        </TextField>

        <SwitchField name="assistant_id" position-label="left">
          <span class="subheadline-bold">{{ 'Ответы моих студентов' }} </span>
        </SwitchField>
      </AppForm>

      <TableColSettings v-model="colsState" :columns="optionalCols" />
    </div>

    <AppTable
      :data="displayedData"
      :header="headerConfig"
      empty-table-text="Пусто"
      :total-count="getAccountBlockListTotal"
      :loading="loading"
      v-model:table-params="tableParams"
      class="shadow-inner"
    >
      <template #cell-file="{ item }">
        <AppIcon name="download" @click="downloadFile(item)" class="title-20-bold cursor-pointer text-primary" />
      </template>
      <template #cell-actions="{ item }">
        <AppIcon
          v-if="item.assistant?.id === getAccount?.id"
          name="edit-01"
          class="cursor-pointer text-title-sm text-dark-blue-primary"
          @click="onOpenScoreModal(item.id)"
        />
      </template>
      <template #cell-select="{ item }">
        <AppCheckbox
          v-if="
            !item.assistant || item.assistant.id === getAccount?.id || getCourse.role.value === UsersRoles.MAINTAINER
          "
          :model-value="item.assistant?.id === getAccount?.id"
          @update:model-value="(value: boolean) => selectAccountBlock(value, item)"
        />
        <AppPopover event-on-hover :event-on-toggle="false" :offset="[0, 5]" v-else>
          <template #reference>
            <AppCheckbox :model-value="false" :disabled="true" />
          </template>
          <template #content>
            <div class="text-wrapping subheadline rounded-sm bg-dark-blue-1 px-3 py-2 text-dark-blue-primary">
              {{ 'Эта работа проверяется другим ассистентом' }}
            </div>
          </template>
        </AppPopover>
      </template>
      <template #cell-assistant="{ item }">
        {{ item.assistant ? `${item.assistant.last_name} ${item.assistant.first_name}` : '' }}
      </template>
      <template #cell-comment="{ item }">
        <AppOverflownContainer style="width: 200px">
          <template #default>
            {{ item.comment }}
          </template>
          <template #popover-content>
            {{ item.comment }}
          </template>
        </AppOverflownContainer>
      </template>
    </AppTable>

    <template #back-title>
      {{ 'Назад' }}
    </template>
  </DetailView>
</template>

<script lang="ts" setup>
import { ref, computed, onMounted, watch } from 'vue';
import { IHeaderConfiguration, TableParams } from '@/components/table/types';
import { storeToRefs } from 'pinia';
import { useRouter, useRoute } from 'vue-router';
import DetailView from '@/layouts/views/DetailView.vue';
import useCourseStore from '@/store/courses';
import useAccountBlockStore from '@/store/account-blocks';
import {
  IAccountBlockList,
  LOCAL_STORAGE_PREFIX_ACCOUNT_BLOCKS_BLOCK,
  IAccountBlockFiltersApi,
  IAccountBlockFilters,
  IAccountBlockUpdateAssistent,
} from '@/store/account-blocks/types';
import { UsersRoles } from '@/store/courses/types';
import TableColSettings from '@/components/table/TableColSettings.vue';
import useTableHeader from '@/components/table/useTableHeader';
import { useAppToast } from '@/components/toast/useAppToast';
import { PaginationRequest, RequestQueue } from '@/core/services/Api';
import { SortParams, SortDirections } from '@/core/utils/sorting';
import useAccountStore from '@/store/account';
import { onUnmounted } from 'vue';
import isEqual from 'lodash.isequal';
import AppPopover from '@/components/AppPopover.vue';
import useBlockStore from '@/store/blocks';
import { BlockStatuses } from '@/store/blocks/types';
import CreateScore from '@/layouts/account-blocks/CreateScore.vue';
import useModal from '@/components/modal/useModal';

const router = useRouter();
const route = useRoute();

const courseID = computed(() => Number(route.params.course_id));
const blockID = computed(() => Number(route.params.block_id));

const courseStore = useCourseStore();
const { fetchCourse } = courseStore;
const { getCourse } = storeToRefs(courseStore);

const blockStore = useBlockStore();
const { fetchBlock } = blockStore;
const { getBlock } = storeToRefs(blockStore);

const accountBlock = useAccountBlockStore();
const { fetchAccountBlockList, toList, setAccountBlocks, updateAccountBlockAssistant } = accountBlock;
const { getAccountBlockList, getAccountBlockListTotal } = storeToRefs(accountBlock);

const accountStore = useAccountStore();
const { getAccount } = storeToRefs(accountStore);

const modalScore = useModal({ content: CreateScore });

const toast = useAppToast();

const header: IHeaderConfiguration[] = [
  {
    key: 'select',
    flex: '45px',
  },
  {
    key: 'last_name',
    name: 'Фамилия',
    sortable: true,
    optional: true,
  },
  {
    key: 'first_name',
    name: 'Имя',
    optional: true,
  },
  {
    key: 'group',
    name: 'Группа',
    optional: true,
    sortable: true,
    flex: '100px',
  },
  {
    key: 'email',
    name: 'Почта',
    optional: true,
  },
  {
    key: 'team',
    name: 'Команда',
    sortable: true,
    optional: true,
  },
  {
    key: 'score',
    name: 'Оценка',
    sortable: true,
    flex: '90px',
  },
  {
    key: 'assistant',
    name: 'Проверяющий',
    sortable: true,
  },
  {
    key: 'comment',
    name: 'Комментарий',
    flex: '200px',
  },
  {
    key: 'file',
    flex: '45px',
  },
  {
    key: 'actions',
    flex: '45px',
  },
];

const loading = ref<boolean>(false);
const loadingCourse = ref<boolean>(false);

const displayedData = computed(() => getAccountBlockList.value.map(toList));

const filters = ref<IAccountBlockFilters>({} as IAccountBlockFilters);
const filtersSwapKeys = { assistant: 'assistant_id' };
const excludedKeys = ref<string[]>([]);
let apiParamsPrevState: IAccountBlockFiltersApi;

const { headerConfig, colsState, optionalCols } = useTableHeader({
  header,
  filters,
  filtersSwapKeys,
  excludedKeys,
  localStoragePrefix: LOCAL_STORAGE_PREFIX_ACCOUNT_BLOCKS_BLOCK,
});

const tableParams = ref<{ pagination: PaginationRequest; sort: SortParams }>({
  pagination: { page: 1, page_size: 10 },
  sort: { field: '', direction: SortDirections.DESC, api: '' },
});

watch(
  () => tableParams.value,
  (newValue) => handleFetch(newValue)
);

watch(
  () => filters.value,
  () => {
    const {
      pagination: { page_size },
      sort,
    } = tableParams.value;
    tableParams.value = { sort, pagination: { page_size, page: 1 } };

    if (!loading.value) handleFetch(tableParams.value);
  },
  { deep: true }
);

onMounted(async () => {
  loadingCourse.value = true;

  await fetchCourse(courseID.value);
  await fetchBlock(blockID.value);
  handleCols();

  loadingCourse.value = false;

  loading.value = true;

  await handleFetch(tableParams.value, true);

  loading.value = false;
});

const handleCols = () => {
  if (![UsersRoles.ASSISTANT, UsersRoles.MAINTAINER].includes(getCourse.value.role.value)) {
    router.push({ name: '404' });
    return;
  }

  if (!getBlock.value.is_team) {
    excludedKeys.value.push('team');
  }

  if (getBlock.value.status?.value !== BlockStatuses.ON_CHECK) {
    excludedKeys.value.push(...['select', 'actions']);
  }
};

async function handleFetch({ pagination, sort }: TableParams, reload = false) {
  const params: IAccountBlockFiltersApi = {
    ...pagination,
    ...filters.value,
    block_id: blockID.value,
    is_author: true,
    assistant_id: filters.value.assistant_id ? getAccount.value?.id : undefined,
    search: filters.value.search || undefined,
    sort: sort.api || undefined,
  };

  if (isEqual(apiParamsPrevState, params) && !reload) {
    return;
  } else {
    apiParamsPrevState = params;
  }

  loading.value = true;
  await fetchAccountBlockList(params);
  loading.value = false;
}

const onBack = async () => {
  router.push({ name: 'block-detail', params: { course_id: courseID.value, block_id: blockID.value } });
};

let currentNumber: number;
const onOpenScoreModal = (id: number) => {
  currentNumber = id;

  modalScore.open({ answer: getAccountBlockList.value.find((item) => item.id === id), onUpdate });
};

const onUpdate = async (values: IAccountBlockUpdateAssistent) => {
  if (!currentNumber || !getAccount.value) return;

  await updateAccountBlockAssistant(currentNumber, {
    ...values,
    assistant_id: getAccount.value.id,
  });
  modalScore.close();

  toast.success('Оценка сохранена');
};

const requestQueue = new RequestQueue(() => {
  toast.success('Вы успешно выбрали работы для проверки');
});
const selectAccountBlock = (value: boolean, item: IAccountBlockList) => {
  const body = {
    assistant_id: value ? getAccount.value?.id : null,
  };

  requestQueue.addRequest(() => updateAccountBlockAssistant(item.id, body));
};

const downloadFile = (answer: IAccountBlockList) => {
  if (!answer.file) {
    return;
  }

  window.open(answer.file, '_blank');
};

onUnmounted(() => {
  setAccountBlocks([]);
});
</script>

<style lang="scss">
.account_blocks {
  &_number-input {
    .app-input.app-input {
      width: 60px !important;
    }
  }
}
</style>
