<template>
  <DetailView :loading="loadingCourse" @back="onBack" class="!bg-background-secondary2 pb-10">
    <div class="mb-10 flex items-center justify-between">
      <p class="large-title-bold">
        {{ 'Ведомость' }}
      </p>

      <AppButton
        v-if="getCourse.role?.value === UsersRoles.MAINTAINER"
        small
        class="subheadline-bold w-fit"
        with-icon
        @click="download"
      >
        <AppIcon name="download" />
        <span class="ml-2">{{ 'Скачать' }}</span>
      </AppButton>
    </div>

    <div class="mb-3 flex w-full flex-row items-center justify-between">
      <AppForm v-model="filters" class="flex items-center gap-4 pr-10">
        <AppSearch name="search" class="grow" placeholder="Поиск по фамилиям, группе, почте или блоку" />

        <TextField
          name="score"
          placeholder="0"
          small
          number
          light
          hide-controls
          :min="0"
          :max="10"
          :debounce="500"
          class="account_blocks_number-input"
        >
          <template #labelLeft>
            {{ 'Оценка' }}
          </template>
        </TextField>

        <SwitchField name="is_team" position-label="left">
          <span class="subheadline-bold">{{ 'Командный блок' }} </span>
        </SwitchField>

        <SwitchField name="is_author" position-label="left">
          <span class="subheadline-bold">{{ 'Разбить по командам' }} </span>
        </SwitchField>
      </AppForm>

      <TableColSettings v-model="colsState" :columns="optionalCols" />
    </div>

    <AppTable
      :data="displayedData"
      :header="headerConfig"
      empty-table-text="Пусто"
      :loading="loading"
      v-model:table-params="tableParams"
      :total-count="getAccountBlockListTotal"
      class="shadow-inner"
    >
      <template #cell-assistant="{ item }">
        {{ item.assistant ? `${item.assistant.last_name} ${item.assistant.first_name}` : '' }}
      </template>
      <template #cell-block="{ item }">
        <AppOverflownContainer style="width: 100%">
          <template #default>
            <div class="whitespace-nowrap">
              <AppIcon
                v-if="item.block.is_team || item.block.status?.value !== BlockStatuses.OPEN"
                :name="item.block.status?.icon"
              />
              <AppIcon v-else name="user" />
              <span class="ml-2">{{ item.block.title }}</span>
            </div>
          </template>

          <template #popover-content>
            {{ item.block.title }}
          </template>
        </AppOverflownContainer>
      </template>
    </AppTable>

    <template #back-title>
      {{ 'Назад' }}
    </template>
  </DetailView>
</template>

<script lang="ts" setup>
import { ref, computed, onMounted, watch } from 'vue';
import { IHeaderConfiguration, TableParams } from '@/components/table/types';
import { storeToRefs } from 'pinia';
import { useRouter, useRoute } from 'vue-router';
import DetailView from '@/layouts/views/DetailView.vue';
import useCourseStore from '@/store/courses';
import { BlockStatuses } from '@/store/blocks/types';
import useAccountBlockStore from '@/store/account-blocks';
import {
  LOCAL_STORAGE_PREFIX_ACCOUNT_BLOCKS_BLOCK,
  IAccountBlockFiltersApi,
  IAccountBlockFilters,
} from '@/store/account-blocks/types';
import { UsersRoles } from '@/store/courses/types';
import TableColSettings from '@/components/table/TableColSettings.vue';
import useTableHeader from '@/components/table/useTableHeader';
import { PaginationRequest } from '@/core/services/Api';
import { SortParams, SortDirections } from '@/core/utils/sorting';
import { onUnmounted } from 'vue';
import isEqual from 'lodash.isequal';
import { useAppToast } from '@/components/toast/useAppToast';
const toast = useAppToast();

const router = useRouter();
const route = useRoute();

const courseID = computed(() => Number(route.params.course_id));

const courseStore = useCourseStore();
const { fetchCourse } = courseStore;
const { getCourse } = storeToRefs(courseStore);

const accountBlock = useAccountBlockStore();
const { fetchAccountBlockList, toList, setAccountBlocks, getScorecard } = accountBlock;
const { getAccountBlockList, getAccountBlockListTotal } = storeToRefs(accountBlock);

const header: IHeaderConfiguration[] = [
  {
    key: 'block',
    name: 'Блок',
    sortable: true,
    firstSortDirection: SortDirections.DESC,
  },
  {
    key: 'last_name',
    name: 'Фамилия',
    sortable: true,
    optional: true,
  },
  {
    key: 'first_name',
    name: 'Имя',
    optional: true,
  },
  {
    key: 'group',
    name: 'Группа',
    optional: true,
    sortable: true,
    flex: '100px',
  },
  {
    key: 'email',
    name: 'Почта',
    optional: true,
  },
  {
    key: 'team',
    name: 'Команда',
    sortable: true,
    optional: true,
  },
  {
    key: 'score',
    name: 'Оценка',
    sortable: true,
    flex: '90px',
  },
  {
    key: 'assistant',
    name: 'Проверяющий',
    sortable: true,
  },
];

const loading = ref<boolean>(false);
const loadingCourse = ref<boolean>(false);

const displayedData = computed(() => getAccountBlockList.value.map(toList));

const filters = ref<IAccountBlockFilters>({} as IAccountBlockFilters);
const filtersSwapKeys = { assistant: 'assistant_id' };
let apiParamsPrevState: IAccountBlockFiltersApi;

const { headerConfig, colsState, optionalCols } = useTableHeader({
  header,
  filters,
  filtersSwapKeys,
  localStoragePrefix: LOCAL_STORAGE_PREFIX_ACCOUNT_BLOCKS_BLOCK,
});

const tableParams = ref<{ pagination: PaginationRequest; sort: SortParams }>({
  pagination: { page: 1, page_size: 10 },
  sort: { field: 'block', direction: SortDirections.DESC, api: '-block' },
});

watch(
  () => tableParams.value,
  (newValue) => handleFetch(newValue)
);

watch(
  () => filters.value,
  () => {
    const {
      pagination: { page_size },
      sort,
    } = tableParams.value;
    tableParams.value = { sort, pagination: { page_size, page: 1 } };

    if (!loading.value) handleFetch(tableParams.value);
  },
  { deep: true }
);

onMounted(async () => {
  loadingCourse.value = true;

  await fetchCourse(courseID.value);

  loadingCourse.value = false;

  if (![UsersRoles.ASSISTANT, UsersRoles.MAINTAINER].includes(getCourse.value.role.value)) {
    router.push({ name: '404' });
    return;
  }

  loading.value = true;

  await handleFetch(tableParams.value, true);

  loading.value = false;
});

async function handleFetch({ pagination, sort }: TableParams, reload = false) {
  const params: IAccountBlockFiltersApi = {
    ...pagination,
    ...filters.value,
    is_team: filters.value.is_team || undefined,
    is_author: filters.value.is_author || undefined,
    assistant_id: undefined,
    search: filters.value.search || undefined,
    sort: sort.api || undefined,
  };

  if (isEqual(apiParamsPrevState, params) && !reload) {
    return;
  } else {
    apiParamsPrevState = params;
  }

  loading.value = true;
  await fetchAccountBlockList(params);
  loading.value = false;
}

const onBack = async () => {
  router.push({ name: 'course-detail', params: { course_id: courseID.value } });
};

onUnmounted(() => {
  setAccountBlocks([]);
});

const download = async () => {
  await getScorecard(apiParamsPrevState);
  toast.success('Ведомость придет вам на почту');
};
</script>

<style lang="scss">
.account_blocks {
  &_number-input {
    .app-input.app-input {
      width: 60px !important;
    }
  }
}
</style>
