<template>
  <div class="flex min-h-screen w-full items-center justify-center py-4" style="background: #e0edff">
    <!--begin::Content-->
    <router-view></router-view>
    <!--end::Content-->
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from 'vue';
import useAccountStore from '@/store/account';

const accountStore = useAccountStore();
const { logOut } = accountStore;

onMounted(() => {
  logOut();
});
</script>
