<template>
  <div @click="emitSort">
    <slot>
      {{ field }}
      <TableSortIcon :direction="direction" />
    </slot>
  </div>
</template>

<script setup lang="ts">
import TableSortIcon from './TableSortIcon.vue';
import { SortParams, SortDirections } from '@/core/utils/sorting';
import { apiPrefixMap, swapSortDirection, swapSortState, SortStates, DEFAULT_SORT_DIRECTION } from './utils';

interface ISortProps extends Partial<SortParams> {
  field: string;
  defaultDirection?: SortDirections;
}

const props = withDefaults(defineProps<ISortProps>(), {
  defaultDirection: DEFAULT_SORT_DIRECTION,
});

const emit = defineEmits<{
  (event: 'sort', sort: SortParams): void;
}>();

let state = props.direction ? SortStates.FIRST_STATE : SortStates.DEFAULT;

function emitSort() {
  state = props.direction ? swapSortState[state] : SortStates.FIRST_STATE;

  const direction = props.direction ? swapSortDirection[props.direction] : props.defaultDirection;
  const api = state ? `${apiPrefixMap[direction]}${props.field}` : '';
  const field = state ? props.field : '';

  emit('sort', { direction, api, field });
}
</script>
