<template>
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="table-sort-icon">
    <path
      d="M14 6.99V14H16V6.99H19L15 3L11 6.99H14Z"
      :fill="direction === SortDirections.ASC ? activeColor : inactiveColor"
    />
    <path
      d="M13 17.01H10V10H8V17.01H5L9 21L13 17.01Z"
      :fill="direction === SortDirections.DESC ? activeColor : inactiveColor"
    />
  </svg>
</template>

<script setup lang="ts">
import { SortDirections } from '@/core/utils/sorting';

interface IProps {
  direction?: SortDirections | undefined;
}

defineProps<IProps>();

const activeColor = '#2B377B';
const inactiveColor = '#7981AC';
</script>

<style lang="scss">
.table-sort-icon {
  width: 20px;
  height: 20px;

  path {
    transition: fill 0.3s;
  }
}
</style>
