<template>
  <img :src="img.href" />
</template>

<script lang="ts" setup>
import { computed } from 'vue';

interface Props {
  link: string;
}

const props = defineProps<Props>();

const img = computed(() => new URL(props.link, import.meta.url));
</script>
