<template>
  <div class="p-3">
    <iframe :key="link" :src="link" width="600" height="500" />
  </div>
</template>

<script lang="ts" setup>
interface Props {
  link: string;
}

defineProps<Props>();
</script>
